///
/// RTL stylesheet
///
/// Overrides directional styles
/// in the main stylesheet.
///
/// The `rtl` class is on the body tag.
///

.rtl {
	direction: rtl;
	unicode-bidi: embed;
}

.user-toolbar {
	a {
		&:not( :last-of-type ) {
			margin: var( --bsb-toolbar--link--margin--rtl, 0 0 0 1rem );
		}

		&#profile-link {
			img {
				margin: var( --bsb-toolbar--profile-pic--margin--rtl, 0 0 0 0.5em );
			}
		}
	}
}

.page-content {
	img[style="float: left;"],
	img[style="float: left"],
	img[style="float:left;"],
	img[style="float:left"] {
		float: right !important;
		margin: var( --bsb-page-content--img--float-left--margin--rtl, 0 0 1em 1em );
	}

	img[style="float: right;"],
	img[style="float: right"],
	img[style="float:right;"],
	img[style="float:right"] {
		float: left !important;
		margin: var( --bsb-page-content--img--float-right--margin--rtl, 0 1em 1em 0 );
	}
}

.page-info {
	.page-info-entry {
		&:not( :last-of-type ) {
			margin: var( --bsb-page-info-entry--margin--rtl, 0 0 0 0.5em );
		}
	}
}
