///
/// Color Scheme: Flat UI
///

@import '../../../modules/_utility';

// Color variables.
$alizarin     : #e74c3c;
$amethyst     : #9b59b6;
$asbestos     : #7f8c8d;
$belizeHole   : #2980b9;
$carrot       : #e67e22;
$clouds       : #ecf0f1;
$concrete     : #95a5a6;
$emerald      : #2ecc71;
$greenSea     : #16a085;
$midnightBlue : #2c3e50;
$nephritis    : #27ae60;
$orange       : #f39c12;
$peterRiver   : #3498db;
$pomegranate  : #c0392b;
$pumpkin      : #d35400;
$silver       : #bdc3c7;
$sunflower    : #f1c40f;
$turquoise    : #1abc9c;
$wetAsphalt   : #34495e;
$wisteria     : #8e44ad;

:root {

	// General.
	--bsb-text-color: #{$midnightBlue};
	--bsb-link--text-color: #{$belizeHole};
	--bsb-link--action--text-color: #{$peterRiver};
	--bsb-box-border-color: #{$asbestos};

	// Forms & buttons.
	--bsb-form--border-color: #{$asbestos};
	--bsb-form--action-border-color: #{$belizeHole};
	--bsb-form--placeholder-color: #{$silver};
	--bsb-button--bg-color: #{$nephritis};
	--bsb-button--action-bg-color: #{$emerald};
	--bsb-button--text-color: #{$clouds};
}
