///
/// Default typography scheme
///

@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
	src: url( ../../../../fonts/sans/inter.woff2 ) format( 'woff2' );
}

@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
	src: url( ../../../../fonts/sans/inter-italic.woff2 ) format( 'woff2' );
}

$inter_stack: 'Inter', 'Helvetica Neue', Helvetica, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

:root {

	// General.
	--cfe-font-stack: #{$inter_stack};
	--cfe-site-title--font-size: 2rem;
	--cfe-heading-primary--font-size: 2rem;
	--cfe-heading-primary--font-weight: 800;
	--cfe-heading-primary--letter-spacing: -0.025em;
	--cfe-loader--text--font-family: #{$inter_stack};
	--cfe-loader--text--font-size: 1.5rem;
	--cfe-loader--text--font-weight: 600;

	// Header.
	--cfe-site-title--font-size: 1.75rem;
	--cfe-site-title--font-weight: 800;
	--cfe-site-title--letter-spacing: normal;
	--cfe-cover--description--font-size: 1.325rem;

	// Navigation.
	--cfe-site-nav--item--font-weight: 550;

	// Content.
	--cfe-page-header--heading--font-size: 2rem;
	--cfe-page-summary--page-header--heading--font-size: 1.75rem;
	--cfe-page-header--heading--link--font-weight: 800;
	--cfe-pagination-list--numeric--link--font-weight: 550;
	--cfe-pagination-list--numeric--link--active--font-weight: 750;

	// Aside.
	--cfe-sidebar--link--font-weight: 525;
}
