///
/// Color Scheme: Dark
///

// General colors.
$white       : #ffffff !default;
$off_white   : #eeeeee !default;
$black       : #000000 !default;
$near_black  : #1e1e1e !default;
$dark_gray   : #333333 !default;
$medium_gray : #555555 !default;
$light_gray  : #888888 !default;
$pale_gray   : #cccccc !default;
$red         : #dd0000 !default;
$orange      : #ee6600 !default;
$yellow      : #f8ce30 !default;
$green       : #4b9960 !default;
$blue        : #0044aa !default;
$violet      :  #551a8b !default;
$error       : $red !default;
$notify      : $orange !default;
$warning     : $yellow !default;
$success     : $green !default;

// Scheme colors.

// SVG icon colors.
@function svg_icon_color() {
	@return '%23' + str-slice( '#{$off_white}', 2, -1 );
}
@function svg_icon_action_color() {
	@return '%23' + str-slice( '#{$off_white}', 2, -1 );
}

// Search icons.
$search_icon_bg: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='#{svg_icon_color()}' d='M504.1 471l-134-134C399.1 301.5 415.1 256.8 415.1 208c0-114.9-93.13-208-208-208S-.0002 93.13-.0002 208S93.12 416 207.1 416c48.79 0 93.55-16.91 129-45.04l134 134C475.7 509.7 481.9 512 488 512s12.28-2.344 16.97-7.031C514.3 495.6 514.3 480.4 504.1 471zM48 208c0-88.22 71.78-160 160-160s160 71.78 160 160s-71.78 160-160 160S48 296.2 48 208z'/></svg>";

$search_icon_action_bg: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='#{svg_icon_action_color()}' d='M504.1 471l-134-134C399.1 301.5 415.1 256.8 415.1 208c0-114.9-93.13-208-208-208S-.0002 93.13-.0002 208S93.12 416 207.1 416c48.79 0 93.55-16.91 129-45.04l134 134C475.7 509.7 481.9 512 488 512s12.28-2.344 16.97-7.031C514.3 495.6 514.3 480.4 504.1 471zM48 208c0-88.22 71.78-160 160-160s160 71.78 160 160s-71.78 160-160 160S48 296.2 48 208z'/></svg>";

// Close icon.
$close_icon_bg: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='#{svg_icon_color()}' d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z'/></svg>";

$close_icon_action_bg: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='#{svg_icon_action_color()}' d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z'/></svg>";

.site-header #search-bar button[data-search-toggle-close] {
	background-image: url( '#{$close_icon_bg}' );
}

.site-header #search-bar button[data-search-toggle-close]:hover,
.site-header #search-bar button[data-search-toggle-close]:focus {
	background-image: url( '#{$close_icon_action_bg}' );
}

.site-header .search-form-wrap input[type="button"],
.page-sidebar .plugin.plugin-search input[type=button] {
	background-image: url( '#{$search_icon_bg}' );
}

.site-header .search-form-wrap input[type="button"]:hover,
.site-header .search-form-wrap input[type="button"]:focus,
.page-sidebar .plugin.plugin-search input[type=button]:hover,
.page-sidebar .plugin.plugin-search input[type=button]:focus {
	background-image: url( '#{$search_icon_action_bg}' );
}

:root {

	// General.
	--cfe-scheme-color--body: #{$near_black};
	--cfe-scheme-color--text: #{$off_white};
	--cfe-scheme-color--body--dark: #{$white};
	--cfe-scheme-color--text--dark: #{$dark_gray};

	--cfe-scheme-color--one: #{$blue};
	--cfe-scheme-color--two: #{lighten( $blue, 12% )};
	--cfe-scheme-color--three: #{$dark_gray};
	--cfe-scheme-color--four: #{$medium_gray};
	--cfe-scheme-color--five: #{$light_gray};
	--cfe-scheme-color--six: #{$pale_gray};

	--cfe-scheme-color--one--dark: #{$blue};
	--cfe-scheme-color--two--dark: #{lighten( $blue, 12% )};
	--cfe-scheme-color--three--dark: #{$dark_gray};
	--cfe-scheme-color--four--dark: #{$medium_gray};
	--cfe-scheme-color--five--dark: #{$light_gray};
	--cfe-scheme-color--six--dark: #{$pale_gray};

	--cfe-scheme-color--body: #{$near_black};
	--cfe-scheme-color--text: #{$off_white};
	--cfe-link--text-color: #{$white};
	--cfe-link--action--text-color: #{$off_white};
	--cfe-heading-primary--text-color: #{$off_white};
	--cfe-heading-primary--link--text-color: #{$off_white};
	--cfe-heading-primary--link--action--text-color: #{$white};
	--cfe-box-border-color: #{$dark_gray};

	// Forms & buttons.
	--cfe-form--border-color: #{$medium_gray};
	--cfe-form--action--border-color: #{$light_gray};
	--cfe-form--placeholder-color: #{$light_gray};
	--cfe-button--bg-color: #{$dark_gray};
	--cfe-button--action--bg-color: #{$medium_gray};
	--cfe-button--text-color: #{$off_white};

	// Navigation.
	--cfe-site-nav--sub-list--bg-color: #{$dark_gray};
	--cfe-site-nav--sub-list--action--bg-color: #{$medium_gray};
	--cfe-site-nav--sub-list--text-color: #{$white};
	--cfe-site-nav--sub-list--action--text-color: #{$white};

	// Content.
	--cfe-tags-list--buttons--link--bg-color: #{$medium_gray};
	--cfe-tags-list--buttons--link--text-color: #{$off_white};

	--cfe-tags-list--buttons--link--action--bg-color: #{$medium_gray};
	--cfe-tags-list--buttons--link--action--text-color: #{$white};
	--cfe-tags-list--buttons--link--bg-color: var( --cfe-button--bg-color );
	--cfe-tags-list--buttons--link--border-color: var( --cfe-button--border-color );
	--cfe-tags-list--buttons--link--text-color: var( --cfe-button--text-color );

	--cfe-tags-list--buttons--link--action--bg-color: var( --cfe-button--action--bg-color );
	--cfe-tags-list--buttons--link--action--border-color: var( --cfe-button--border-color );
	--cfe-tags-list--buttons--link--action--text-color: var( --cfe-button--action--text-color );
}
