@font-face {
  font-family: "Montserrat";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url(../../../../fonts/modern/montserrat.woff2) format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  src: url(../../../../fonts/modern/montserrat-italic.woff2) format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
  src: url(../../../../fonts/modern/nunito-sans.woff2) format("woff2");
}
@font-face {
  font-family: "Nunito";
  font-weight: 200 1000;
  font-style: italic;
  font-display: swap;
  src: url(../../../../fonts/modern/nunito-sans-italic.woff2) format("woff2");
}
:root {
  --cfe-font-stack: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-font-size: 1.125rem;
  --cfe-font-weight: 465;
  --cfe-heading-primary--font-family: Montserrat, Helvetica Neue, Helvetica, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-heading-primary--font-size: 2rem;
  --cfe-heading-primary--font-weight: 600;
  --cfe-heading-primary--letter-spacing: 0.0125em;
  --cfe-heading-primary--font-variant: small-caps;
  --cfe-heading-secondary--font-family: Montserrat, Helvetica Neue, Helvetica, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-heading-secondary--font-weight: 600;
  --cfe-heading-secondary--letter-spacing: 0.025em;
  --cfe-heading-secondary--font-variant: small-caps;
  --cfe-loader--text--font-family: Montserrat, Helvetica Neue, Helvetica, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-loader--text--font-size: 1.375rem;
  --cfe-loader--text--font-weight: 600;
  --cfe-loader--text--font-variant: small-caps;
  --cfe-site-title--font-size: 1.625rem;
  --cfe-site-title--font-weight: 600;
  --cfe-site-title--letter-spacing: normal;
  --cfe-site-title--font-variant: small-caps;
  --cfe-cover--title--font-weight: 525;
  --cfe-cover--title--letter-spacing: 0.0125em;
  --cfe-cover--description--font-size: 1.325rem;
  --cfe-site-nav--item--font-family: Montserrat, Helvetica Neue, Helvetica, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-site-nav--item--font-size: 1rem;
  --cfe-site-nav--item--font-weight: 550;
  --cfe-page-header--heading--font-size: 2rem;
  --cfe-page-summary--page-header--heading--font-size: 1.75rem;
  --cfe-page-header--heading--link--font-weight: 600;
  --cfe-pagination-list--numeric--link--font-weight: 500;
  --cfe-pagination-list--numeric--link--active--font-weight: 650;
  --cfe-sidebar--link--font-weight: 500;
}