///
/// Content styles
///

.site-main {
	padding: 0 2rem;
}

.page-info {
	font-size: var( --bsb-page-info--font-size, 0.85em );

	.page-info-entry {
		&:not( :last-of-type ) {
			margin: var( --bsb-page-info-entry--margin, 0 0.5em 0 0 );
		}
	}
}

h1,
h2 {
	& + .page-info {
		p {
			margin-top: 0;
		}
	}
}

.page-description {
	margin: var( --bsb-page-description--margin, 0 );

	&.page-description-single {
		margin: var( --bsb-page-description-single--margin, 0 );
		font-size: var( --bsb-page-description-single--font-size, 1.25rem );
	}
}

.page-cover {
	&.page-cover-single {
		margin: var( --bsb-page-cover-single--margin, 1rem 0 0 0 );
	}
}

// No posts template.
.no-posts-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 50vh;

	h1 {
		font-size: 2.5em;
	}

	p {
		font-size: 1.5em;
	}
}
