///
/// Page header styles
///

.site-header {

	.site-header-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		padding: var( --bsb-site-header--padding );

		@media screen and ( max-width: 960px ) {
			flex-direction: column;
			justify-content: center;
		}
	}
}

.site-branding {
	display: flex;
	align-items: center;
	gap: 1rem;

	@media screen and ( max-width: 960px ) {
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}

.site-logo {
	min-width: var( --bsb-site-logo--min-width, 80px );

	img {
		display: block;
	}
}

.site-title {
	margin: var( --bsb-site-title--margin, 0 );
	font-size: var( --bsb-site-title--font-size, 1.625rem );
	font-weight: var( --bsb-site-title--font-weight, bold );
	line-height: 1.2;

	a {
		color: inherit !important;
		text-decoration: none;
	}
}

.site-description {
	margin: var( --bsb-site-description--margin, 0 );
}
