@font-face {
  font-family: "Rokkitt";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url(../../../../fonts/slab/rokkitt.woff2) format("woff2");
}
@font-face {
  font-family: "Rokkitt";
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  src: url(../../../../fonts/slab/rokkitt-italic.woff2) format("woff2");
}
:root {
  --cfe-font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-heading-primary--font-family: Rokkitt, Hoefler Text, Garamond, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-heading-primary--font-size: 2.25rem;
  --cfe-heading-primary--font-weight: 800;
  --cfe-heading-primary--line-height: 1.1;
  --cfe-heading-primary--letter-spacing: -0.025em;
  --cfe-heading-secondary--font-family: Rokkitt, Hoefler Text, Garamond, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-heading-secondary--font-size: 1.625rem;
  --cfe-heading-secondary--font-weight: 800;
  --cfe-heading-secondary--line-height: 1.1;
  --cfe-loader--text--font-family: Rokkitt, Hoefler Text, Garamond, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-loader--text--font-size: 1.75rem;
  --cfe-loader--text--font-weight: 800;
  --cfe-theme-icon--size: 0.825em;
  --cfe-site-title--font-family: Rokkitt, Hoefler Text, Garamond, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-site-title--font-size: 1.875rem;
  --cfe-site-title--font-weight: 750;
  --cfe-cover--title--font-size: clamp( 3rem, 4vw + 1rem, 5.5vw );
  --cfe-cover--title--font-weight: 800;
  --cfe-cover--description--font-size: 1.5rem;
  --cfe-site-nav--item--font-family: Rokkitt, Hoefler Text, Garamond, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-site-nav--item--font-size: 1.25rem;
  --cfe-site-nav--item--font-weight: 535;
  --cfe-page-header--heading--font-size: 2.625rem;
  --cfe-page-summary--page-header--heading--font-size: 2rem;
  --cfe-page-summary--page-header--heading--font-weight: 800;
  --cfe-page-summary--page-header--heading--line-height: 1.1;
  --cfe-post-header--list--heading--font-size: 2rem;
  --cfe-post-header--list--heading--font-weight: 800;
  --cfe-post-info-category--list--font-size: 1.5625rem;
  --cfe-post-info-category--list--font-weight: 700;
  --cfe-post-info-category--list--line-height: 1;
  --cfe-page-info--font-family: Rokkitt, Hoefler Text, Garamond, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-page-info--line-height: 1.1;
  --cfe-page-info-author--font-weight: 550;
  --cfe-page-info-date--font-weight: 550;
  --cfe-tags-list--buttons--link--padding: 0.175em 0.325em 0.175em 0.325em;
  --cfe-tags-list--buttons--link--font-family: Rokkitt, Hoefler Text, Garamond, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-tags-list--buttons--link--font-size: 1rem;
  --cfe-tags-list--buttons--link--font-weight: 500;
  --cfe-sidebar--heading--font-size: 1.625rem;
  --cfe-sidebar--heading--font-weight: 750;
  --cfe-sidebar--link--font-weight: 500;
}