///
/// Root variables
///

:root {

	// Typography.
	--bsb-sans-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--bsb-serif-stack: 'Hoefler Text', 'Baskerville Old Face', Garamond, Times, 'Times New Roman', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--bsb-heading--heading-primary--font-size: 1.5rem;
	--bsb-heading--heading-primary--font-weight: 700;

	// General.
	--bsb-text-color: #{$text_color};
	--bsb-link--text-color: #{$blue};
	--bsb-link--action--text-color: #{lighten( $blue, 12% )};
	--bsb-heading--link--text-decoration: none;
	--bsb-box-border-color: #{$pale_gray};

	// Forms & buttons.
	--bsb-fieldset--margin: 1em 0 0;
	--bsb-fieldset--padding: 1em 1.5em;
	--bsb-fieldset--border: solid 1px var( --bsb-form--border-color );
	--bsb-legend--padding: 0 0.5em;
	--bsb-legend-font-size: 1em;
	--bsb-legend-font-weight: 700;

	--bsb-form-element--padding: 0.5em 1em;
	--bsb-form-element--border: solid 1px var(--bsb-form--border-color);
	--bsb-label-field--margin: 0;
	--bsb-form--font-weight: 400;
	--bsb-form--bg-color: var( --bsb-bg-color, inherit );
	--bsb-form--border-color: var( --bsb-box-border-color );
	--bsb-form--action-border-color: #{$blue};
	--bsb-form--placeholder-color: #{$light_gray};

	--bsb-textarea--min-height: 200px;
	--bsb-textarea--margin: 1em 0 0;
	--bsb-textarea--padding: 1em;
	--bsb-select--margin: 1em 0 0;
	--bsb-select--padding: 0.5em 1em;

	--bsb-button--font-weight: 700;
	--bsb-button--bg-color: var( --bsb-bg-color, inherit );
	--bsb-button--action-bg-color: #{$pale_gray};
	--bsb-button--border-color: var( --bsb-form--border-color );
	--bsb-button--text-color: var( --bsb-form--text-color );
	--bsb-button--action-text-color: var( --bsb-form--text-color );
	--bsb-button--svg-icon--width: 1em;
	--bsb-button--svg-icon--height: 1em;

	// Layout.
	--bsb-wrapper--general--max-width: 1280px;
	--bsb-wrapper--general--margin: 0 auto;
	--bsb-wrapper--general--padding: 0;

	// Header.
	--bsb-site-header-wrap--padding: 1rem 2rem;
	--bsb-site-logo--min-width: 80px;

	// Navigation.
	--bsb-site-nav--max-width: 50vw;

	// Content.
	--bsb-content-wrap--padding: 0 2rem;
	--bsb-page-main--padding: 0;
	--bsb-page-header--heading--font-size: 2rem;
	--bsb-article--tags-list--text-decoration: none;
	--bsb-article--tags-list--font-size: 0.8125rem;
	--bsb-article--tags-list--font-weight: 600;
	--bsb-article--tags-list--bg-color: var( --bsb-link--text-color );
	--bsb-article--tags-list--text-color: #ffffff;

	--bsb-article--tags-list--action--bg-color: #{lighten( $blue, 12% )};
	--bsb-article--tags-list--action--text-color: #ffffff;

	// Toolbar.
	--bsb-toolbar--height: 2rem;
}
