///
/// Root variables
///

@import '_utility';

// Scheme colors.
$color_body:  $white;
$color_text:  $dark_gray;
$color_one:   #0044aa;
$color_two:   #0066cc;
$color_three: $medium_gray;
$color_four:  $light_gray;
$color_five:  $dark_gray;
$color_six:   $medium_gray;

$color_body_dark:  $near_black;
$color_text_dark:  $off_white;
$color_one_dark:   $white;
$color_two_dark:   $yellow;
$color_three_dark: $dark_gray;
$color_four_dark:  $medium_gray;
$color_five_dark:  $medium_gray;
$color_six_dark:   $light_gray;

:root {

	// Color schemes.
	--cfe-scheme-color--body:  #{$color_body};
	--cfe-scheme-color--text:  #{$color_text};
	--cfe-scheme-color--one:   #{$color_one};
	--cfe-scheme-color--two:   #{$color_two};
	--cfe-scheme-color--three: #{$color_three};
	--cfe-scheme-color--four:  #{$color_four};
	--cfe-scheme-color--five:  #{$color_five};
	--cfe-scheme-color--six:   #{$color_six};

	--cfe-scheme-color--body--dark:  #{$color_body_dark};
	--cfe-scheme-color--text--dark:  #{$color_text_dark};
	--cfe-scheme-color--one--dark:   #{$color_one_dark};
	--cfe-scheme-color--two--dark:   #{$color_two_dark};
	--cfe-scheme-color--three--dark: #{$color_three_dark};
	--cfe-scheme-color--four--dark:  #{$color_four_dark};
	--cfe-scheme-color--five--dark:  #{$color_five_dark};
	--cfe-scheme-color--six--dark:   #{$color_six_dark};

	// Font stacks.
	--cfe-fonts--sans-stack: #{$fonts_sans};
	--cfe-fonts--serif-stack: #{$fonts_serif};
	--cfe-fonts--monospace-stack: #{$fonts_monospace};
	--cfe-fonts--display-stack: #{$fonts_sans};

	// Layout general.
	--cfe-spacing--horz: 2rem;
	--cfe-spacing--vert: 2rem;
	--cfe-wrapper--general--max-width: 1280px;
	--cfe-wrapper--general--margin: 0 auto;
	--cfe-wrapper--general--padding: 0;

	// Layout elements.
	--cfe-box--border-style: solid;
	--cfe-box--border-width: 1px;
	--cfe-box--border-color: #{$light_gray};
	--cfe-box--border-color--dark: #{$medium_gray};
	--cfe-box--border: var( --cfe-box--border-style ) var( --cfe-box--border-width ) var( --cfe-box--border-color );
	--cfe-box--border--dark: var( --cfe-box--border-style ) var( --cfe-box--border-width ) var( --cfe-box--border-color--dark );

	// Body & general text.
	--cfe-body--font-family: var( --cfe-fonts--sans-stack );
	--cfe-body--font-size: 1rem;
	--cfe-body--bg-color: var( --cfe-scheme-color--body );
	--cfe-body--bg-color--dark: var( --cfe-scheme-color--body--dark );
	--cfe-body--text-color: var( --cfe-scheme-color--text );
	--cfe-body--text-color--dark: var( --cfe-scheme-color--text--dark );

	--cfe-display--font-family: var( --cfe-fonts--display-stack );
	--cfe-display--font-weight: 600;
	--cfe-display--letter-spacing: normal;

	--cfe-text-shadow: 0.05em 0.05em 0.05em #{rgba( $color: black, $alpha: 0.625 )};

	// Links.
	--cfe-link--text-color: var( --cfe-scheme-color--one );
	--cfe-link--text-color--dark: var( --cfe-scheme-color--one--dark );
	--cfe-link--action--text-color: var( --cfe-scheme-color--two );
	--cfe-link--action--text-color--dark: var( --cfe-scheme-color--two--dark );

	// Headings.
	--cfe-heading-primary--font-size: 2rem;
	--cfe-heading-primary--font-weight: 700;
	--cfe-heading-secondary--font-size: 1.375rem;
	--cfe-heading-secondary--font-weight: 700;

	// Forms & buttons.
	--cfe-form--border-style: solid;
	--cfe-form--border-width: 1px;
	--cfe-form--border-color: var( --cfe-box--border-color );
	--cfe-form--border-color--dark: var( --cfe-box--border-color--dark );
	--cfe-form--action--border-color: var( --cfe-scheme-color--three );
	--cfe-form--action--border-color--dark: var( --cfe-scheme-color--three--dark );
	--cfe-fieldset--margin: 1rem 0 0;
	--cfe-fieldset--padding: 1rem 1.5rem;
	--cfe-fieldset--border: var( --cfe-form--border-style ) var( --cfe-form--border-width ) var( --cfe-form--border-color );
	--cfe-legend--padding: 0 0.5em;
	--cfe-legend-font-size: 1em;
	--cfe-legend-font-weight: 700;

	--cfe-form-element--padding: 0.5rem 1rem;
	--cfe-form-element--border-style: solid;
	--cfe-form-element--border-width: 1px;
	--cfe-form-element--border-color: var( --cfe-scheme-color--text );
	--cfe-form-element--border-color--dark: var( --cfe-scheme-color--text--dark );
	--cfe-form-element--action--border-color: var( --cfe-scheme-color--two );
	--cfe-form-element--action--border-color--dark: var( --cfe-scheme-color--two--dark );
	--cfe-form-element--border: var( --cfe-form-element--border-style ) var( --cfe-form-element--border-width ) var( --cfe-form-element--border-color );
	--cfe-form-element--font-weight: 400;
	--cfe-form--placeholder-color: #{$light_gray};
	--cfe-form--placeholder-color--dark: #{$light_gray};
	--cfe-label-field--margin: 0;

	--cfe-textarea--min-height: 200px;
	--cfe-textarea--margin: 1rem 0 0;
	--cfe-textarea--padding: 1rem;
	--cfe-select--margin: 1rem 0 0;
	--cfe-select--padding: 0.5rem 1rem;

	--cfe-button--padding: 0.75rem 1rem;
	--cfe-button--bg-color: var( --cfe-scheme-color--three );
	--cfe-button--bg-color--dark: var( --cfe-scheme-color--three--dark );
	--cfe-button--action--bg-color: var( --cfe-scheme-color--four );
	--cfe-button--action--bg-color--dark: var( --cfe-scheme-color--four--dark );
	--cfe-button--border-color: var( --cfe-form-element--border-color );
	--cfe-button--border-color--dark: var( --cfe-form-element--border-color--dark );
	--cfe-button--action--border-color: var( --cfe-form-element--border-color );
	--cfe-button--action--border-color--dark: var( --cfe-form-element--border-color--dark );
	--cfe-button--text-color: #{$white};
	--cfe-button--text-color--dark: #{$white};
	--cfe-button--action--text-color: #{$white};
	--cfe-button--action--text-color--dark: #{$white};
	--cfe-button--svg-icon--width: 1em;
	--cfe-button--svg-icon--height: 1em;

	// User toolbar.
	--cfe-toolbar--padding: 0 1rem;
	--cfe-toolbar--height: 2rem;
	--cfe-toolbar--font-size: 0.875rem;
	--cfe-toolbar--bg-color: var( --cfe-scheme-color--body--dark );
	--cfe-toolbar--bg-color--dark: var( --cfe-scheme-color--body--dark );
	--cfe-toolbar--text-color: #{$white};
	--cfe-toolbar--text-color--dark: #{$white};
	--cfe-toolbar--link--padding: 0 0.5em;
	--cfe-toolbar--link--bg-color: inherit;
	--cfe-toolbar--link--bg-color--dark: inherit;
	--cfe-toolbar--link--text-color: #{$white};
	--cfe-toolbar--link--text-color--dark: #{$white};
	--cfe-toolbar--link--action--bg-color: var( --cfe-scheme-color--five );
	--cfe-toolbar--link--action--bg-color--dark: var( --cfe-scheme-color--five--dark );
	--cfe-toolbar--link--action--text-color: #{$white};
	--cfe-toolbar--link--action--text-color--dark: #{$white};
	--cfe-toolbar--submenu--link--action--bg-color: var( --cfe-scheme-color--six );
	--cfe-toolbar--submenu--link--action--bg-color--dark: var( --cfe-scheme-color--six--dark );
	--cfe-toolbar--submenu--link--text-color: #{$white};
	--cfe-toolbar--submenu--link--text-color--dark: #{$white};

	// Header.
	--cfe-site-header--bg-color: var( --cfe-body--bg-color );
	--cfe-site-header--bg-color--dark: var( --cfe-body--bg-color--dark );
	--cfe-site-logo--min-width: 80px;
	--cfe-cover--description--font-size: 1.3125rem;
	--cfe-cover-overlay--bg-color: #{rgba( $color: black, $alpha: 0.625 )};
	--cfe-cover-blend--bg-color: #3e6caf;

	// Navigation.
	--cfe-site-nav--max-width: 50vw;
	--cfe-site-nav--item--font-size: var( --cfe-font-size );
	--cfe-site-nav--sub-list--bg-color: var( --cfe-scheme-color--five );
	--cfe-site-nav--sub-list--bg-color--dark: var( --cfe-scheme-color--five--dark );
	--cfe-site-nav--sub-list--action--bg-color: var( --cfe-scheme-color--six );
	--cfe-site-nav--sub-list--action--bg-color--dark: var( --cfe-scheme-color--six--dark );
	--cfe-site-nav--sub-list--text-color: #{$white};
	--cfe-site-nav--sub-list--text-color--dark: #{$white};
	--cfe-site-nav--sub-list--action--text-color: #{$white};
	--cfe-site-nav--sub-list--action--text-color--dark: #{$white};
	--cfe-pagination-list--numeric--link--border: var( --cfe-form--border-style ) var( --cfe-form--border-width ) transparent;
	--cfe-pagination-list--numeric--link--border--dark: var( --cfe-form--border-style ) var( --cfe-form--border-width ) transparent;
	--cfe-pagination-list--numeric--link--active--border: var( --cfe-form--border-style ) var( --cfe-form--border-width ) var( --cfe-scheme-color--two );
	--cfe-pagination-list--numeric--link--active--border--dark: var( --cfe-form--border-style ) var( --cfe-form--border-width ) var( --cfe-scheme-color--two--dark );

	// Content.
	--cfe-content-wrap--padding: var( --cfe-spacing--vert ) var( --cfe-spacing--horz );
	--cfe-main--padding: 0;

	--cfe-post-header--list--heading--font-size: var( --cfe-heading-secondary--font-size );
	--cfe-post-header--list--heading--font-weight: var( --cfe-heading-secondary--font-weight );
	--cfe-post-header--list--heading--line-height: 1.2;
	--cfe-post-header--list--heading--letter-spacing: var( --cfe-heading-secondary--letter-spacing );
	--cfe-post-header--grid--heading--font-weight: var( --cfe-heading-secondary--font-weight );
	--cfe-post-header--grid--heading--letter-spacing: var( --cfe-heading-secondary--letter-spacing );
	--cfe-modal-overlay--bg-color: #{rgba( $color: black, $alpha: 0.85 )};

	// Sidebar.
	--cfe-sidebar--link--font-weight: 600;
}
