///
/// RTL stylesheet
///
/// Overrides directional styles
/// in the main stylesheet.
///
/// The `rtl` class is on the body tag.
///

@import 'modules/_utility';

.rtl {
	direction: rtl;
	unicode-bidi: embed;
}

.user-toolbar {
	a {
		&:not( :last-of-type ) {
			margin: var( --cfe-toolbar--link--not-last--margin--rtl, 0 );
		}

		&#profile-link {
			img {
				margin: var( --cfe-toolbar--profile-pic--margin--rtl, 0 0 0 0.5em );
			}
		}
	}
}

.site-navigation ul li ul {
	right: unset;
	left: -9999em;

	&:after {
		right: auto;
		left: 1rem;

		@media screen and ( max-width: $break_tablet ) {
			right: unset;
			left: calc( 50% - 0.5rem );
		}
	}
}

.site-navigation ul li:hover ul {
	left: auto;
	right: 0;

	@media screen and ( max-width: $break_tablet ) {
		right: auto;
		left: calc( -80px + 50% );
	}
}

.main-nav-before .site-navigation ul li ul {
	left: auto;
	right: -9999em;

	&:after {
		left: auto;
		right: 1rem;

		@media screen and ( max-width: $break_tablet ) {
			left: unset;
			right: calc( 50% - 0.5rem );
		}
	}
}

.main-nav-before .site-navigation ul li:hover ul {
	right: 0;
	left: auto;

	@media screen and ( max-width: $break_tablet ) {
		left: auto;
		right: calc( -80px + 50% );
	}
}

.page-content {
	img[style="float: left;"],
	img[style="float: left"],
	img[style="float:left;"],
	img[style="float:left"] {
		float: right !important;
		margin: var( --cfe-page-content--img--float-left--margin--rtl, 0 0 1em 1em );
	}

	img[style="float: right;"],
	img[style="float: right"],
	img[style="float:right;"],
	img[style="float:right"] {
		float: left !important;
		margin: var( --cfe-page-content--img--float-right--margin--rtl, 0 1em 1em 0 );
	}
}

.page-info {
	.page-info-entry {
		&:not( :last-of-type ) {
			margin: var( --cfe-page-info-entry--margin--rtl, 0 0 0 0.5em );
		}
	}
}

// Aside/sidebar content.
.page-sidebar {
	ol {
		padding: var( --cfe-sidebar--ol--padding--rtl, 0 1em 0 0 );;
	}
}
