html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, button, input, select, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, div, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  box-sizing: border-box;
  font-size: inherit;
  line-height: 1;
}

*, *:before, *:after {
  box-sizing: inherit;
  backface-visibility: hidden;
}

*:before, *:after {
  font-size: inherit;
}

img, object, embed, video {
  max-width: 100%;
}

img {
  height: auto;
  -ms-interpolation-mode: bicubic;
  border: 0;
}

hr {
  display: block;
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

a, a:hover, a:active, a:focus {
  outline: none;
  background-color: transparent;
}

small {
  font-size: 85%;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

input {
  line-height: normal;
}

input, textarea, select, button {
  border: solid 1px #ccc;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

input[type=radio], input[type=checkbox] {
  vertical-align: baseline;
}

input::-webkit-inner-spin-button {
  opacity: 1;
}

*::-moz-placeholder {
  color: #888;
  opacity: 1;
}

*::placeholder {
  color: #888;
  opacity: 1;
}

textarea {
  overflow: auto;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, html input[type=button], input[type=reset], input[type=submit], input[type=image] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

table {
  font-size: inherit;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

th {
  font-weight: bold;
  vertical-align: middle;
}

td, td img {
  font-weight: normal;
  vertical-align: top;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

dfn {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

blockquote {
  quotes: none;
}

q, cite {
  font-style: italic;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

[hidden], template {
  display: none;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

pre, code, kbd, samp {
  font-family: "Courier New", Courier, monospace;
}

b, strong, optgroup {
  font-weight: bold;
}

.clearfix {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1;
}

:root {
  --bsb-sans-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bsb-serif-stack: "Hoefler Text", "Baskerville Old Face", Garamond, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bsb-heading--heading-primary--font-size: 1.5rem;
  --bsb-heading--heading-primary--font-weight: 700;
  --bsb-text-color: #333333;
  --bsb-link--text-color: #0044aa;
  --bsb-link--action--text-color: #005ce7;
  --bsb-heading--link--text-decoration: none;
  --bsb-box-border-color: #cccccc;
  --bsb-fieldset--margin: 1em 0 0;
  --bsb-fieldset--padding: 1em 1.5em;
  --bsb-fieldset--border: solid 1px var( --bsb-form--border-color );
  --bsb-legend--padding: 0 0.5em;
  --bsb-legend-font-size: 1em;
  --bsb-legend-font-weight: 700;
  --bsb-form-element--padding: 0.5em 1em;
  --bsb-form-element--border: solid 1px var(--bsb-form--border-color);
  --bsb-label-field--margin: 0;
  --bsb-form--font-weight: 400;
  --bsb-form--bg-color: var( --bsb-bg-color, inherit );
  --bsb-form--border-color: var( --bsb-box-border-color );
  --bsb-form--action-border-color: #0044aa;
  --bsb-form--placeholder-color: #888888;
  --bsb-textarea--min-height: 200px;
  --bsb-textarea--margin: 1em 0 0;
  --bsb-textarea--padding: 1em;
  --bsb-select--margin: 1em 0 0;
  --bsb-select--padding: 0.5em 1em;
  --bsb-button--font-weight: 700;
  --bsb-button--bg-color: var( --bsb-bg-color, inherit );
  --bsb-button--action-bg-color: #cccccc;
  --bsb-button--border-color: var( --bsb-form--border-color );
  --bsb-button--text-color: var( --bsb-form--text-color );
  --bsb-button--action-text-color: var( --bsb-form--text-color );
  --bsb-button--svg-icon--width: 1em;
  --bsb-button--svg-icon--height: 1em;
  --bsb-wrapper--general--max-width: 1280px;
  --bsb-wrapper--general--margin: 0 auto;
  --bsb-wrapper--general--padding: 0;
  --bsb-site-header-wrap--padding: 1rem 2rem;
  --bsb-site-logo--min-width: 80px;
  --bsb-site-nav--max-width: 50vw;
  --bsb-content-wrap--padding: 0 2rem;
  --bsb-page-main--padding: 0;
  --bsb-page-header--heading--font-size: 2rem;
  --bsb-article--tags-list--text-decoration: none;
  --bsb-article--tags-list--font-size: 0.8125rem;
  --bsb-article--tags-list--font-weight: 600;
  --bsb-article--tags-list--bg-color: var( --bsb-link--text-color );
  --bsb-article--tags-list--text-color: #ffffff;
  --bsb-article--tags-list--action--bg-color: #005ce7;
  --bsb-article--tags-list--action--text-color: #ffffff;
  --bsb-toolbar--height: 2rem;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--bsb-font-stack, var(--bsb-sans-stack, sans-serif));
  font-size: var(--bsb-font-size, 1rem);
  font-weight: var(--bsb-font-weight, normal);
  font-style: var(--bsb-font-style, normal);
  letter-spacing: var(--bsb-letter-spacing, normal);
  line-height: var(--bsb-line-height, 1.5);
  background: var(--bsb-bg-color);
  color: var(--bsb-text-color);
}
body.toolbar-active {
  margin-top: var(--bsb-toolbar--height);
}

.serif {
  font-family: var(--bsb-serif-stack, serif);
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.no-js .hide-if-no-js {
  display: none;
}

.js .hide-if-js {
  display: none;
}

.wrapper-general {
  width: var(--bsb-wrapper--general--width, 100%);
  max-width: var(--bsb-wrapper--general--max-width, 100%);
  margin: var(--bsb-wrapper--general--margin, 0);
  padding: var(--bsb-wrapper--general--padding, 0);
}

.page-wrap {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: var(--bsb-element--margin-top, 1em);
}

a {
  -webkit-text-decoration: var(--bsb-link--text-decoration, underline);
          text-decoration: var(--bsb-link--text-decoration, underline);
  color: var(--bsb-link--text-color);
  transition: var(--bsb-link--transition, all 0.15s);
}
a:visited, a:active {
  color: var(--bsb-link--text-color);
}
a:visited:hover, a:visited:focus, a:active:hover, a:active:focus {
  color: var(--bsb-link--action--text-color);
}

h1,
h2 {
  font-size: var(--bsb--heading-primary--font-size, 2rem);
  font-weight: var(--bsb--heading-primary--font-weight, bold);
}
h1 a,
h2 a {
  -webkit-text-decoration: var(--bsb-link--text-decoration, none);
          text-decoration: var(--bsb-link--text-decoration, none);
}

.inline-list {
  display: inline-flex;
  gap: 0 0.5em;
  margin: 0;
}

::-o-selection {
  color: #222222;
  background: #ffdd00;
  text-shadow: none;
}

::-ms-selection {
  color: #222222;
  background: #ffdd00;
  text-shadow: none;
}

::-webkit-selection {
  color: #222222;
  background: #ffdd00;
  text-shadow: none;
}

::-moz-selection {
  color: #222222;
  background: #ffdd00;
  text-shadow: none;
}

::selection {
  color: #222222;
  background: #ffdd00;
  text-shadow: none;
}

form * + * {
  margin: var(--bsb-form--adjacent--margin, 1em 0 0);
}

fieldset {
  margin: var(--bsb-fieldset--margin);
  padding: var(--bsb-fieldset--padding);
  border: var(--bsb-fieldset--border);
}

legend {
  padding: var(--bsb-legend--padding);
  font-size: var(--bsb-legend-font-size);
  font-weight: var(--bsb-legend-font-weight);
}

input,
textarea,
select,
button,
.button {
  width: 100%;
  max-width: 640px;
  padding: var(--bsb-form-element--padding);
  font: inherit;
  font-weight: var(--bsb-form--font-weight);
  background-color: var(--bsb-form--bg-color);
  border: var(--bsb-form-element--border);
  color: var(--bsb-text-color);
}
input:focus, input.focus,
textarea:focus,
textarea.focus,
select:focus,
select.focus,
button:focus,
button.focus,
.button:focus,
.button.focus {
  border-color: var(--bsb-form--action-border-color);
}

label + input:not([type=checkbox]):not([type=radio]),
label ~ input:not([type=checkbox]):not([type=radio]),
label + button,
label ~ button,
label + textarea,
label ~ textarea,
label + select,
label ~ select {
  margin: var(--bsb-label-field--margin);
  display: block;
}

input[type=text],
input[type=email],
input[type=text],
input[type=password],
input[type=url],
input[type=tel],
input[type=search] {
  min-width: 160px;
}

input[type=radio],
input[type=checkbox] {
  width: auto;
  cursor: pointer;
}

.site-content button,
.button,
button[type=submit],
input[type=submit],
input[type=button],
input[type=reset],
input[type=image] {
  display: inline-block;
  width: auto;
  padding: var(--bsb-button--padding, var(--bsb-form-element--padding, 1em));
  line-height: var(--bsb-button--line-height, 1);
  cursor: pointer;
  font-weight: var(--bsb-button--font-weight, bold);
  background-color: var(--bsb-button--bg-color);
  border-color: var(--bsb-button--border-color, var(--bsb-form--border-color));
  color: var(--bsb-button--text-color, var(--bsb-text-color));
  text-decoration: none;
}
.site-content button svg,
.button svg,
button[type=submit] svg,
input[type=submit] svg,
input[type=button] svg,
input[type=reset] svg,
input[type=image] svg {
  width: var(--bsb-button--svg-icon--width);
  height: var(--bsb-button--svg-icon--height);
  vertical-align: baseline;
  fill: currentColor;
}
.site-content button:hover, .site-content button.hover, .site-content button:focus, .site-content button.focus,
.button:hover,
.button.hover,
.button:focus,
.button.focus,
button[type=submit]:hover,
button[type=submit].hover,
button[type=submit]:focus,
button[type=submit].focus,
input[type=submit]:hover,
input[type=submit].hover,
input[type=submit]:focus,
input[type=submit].focus,
input[type=button]:hover,
input[type=button].hover,
input[type=button]:focus,
input[type=button].focus,
input[type=reset]:hover,
input[type=reset].hover,
input[type=reset]:focus,
input[type=reset].focus,
input[type=image]:hover,
input[type=image].hover,
input[type=image]:focus,
input[type=image].focus {
  background-color: var(--bsb-button--action-bg-color);
  border-color: var(--bsb-button--action-border-color);
  color: var(--bsb-button--action-text-color);
}

input[type=number] {
  width: auto;
  padding: var(--bsb-input--type-number--padding, 0.6em 1em);
}

input[type=range] {
  padding: var(--bsb-input--type-range--padding, 1.3em 1em);
  cursor: pointer;
}

button:disabled,
button[disabled],
input:disabled,
input[disabled] {
  opacity: var(--bsb-button--disabled--opacity, 0.5);
  cursor: not-allowed !important;
}

textarea {
  min-height: var(--bsb-textarea--min-height);
  margin: var(--bsb-textarea--margin);
  padding: var(--bsb-textarea--padding);
  font: inherit;
  font-size: var(--bsb-textarea--font-size);
}

select {
  margin: var(--bsb-select--margin);
  padding: var(--bsb-select--padding);
  font: inherit;
}

option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

*::-o-placeholder {
  color: var(--bsb-form--placeholder-color);
}

*::-moz-placeholder {
  color: var(--bsb-form--placeholder-color);
}

*::placeholder {
  color: var(--bsb-form--placeholder-color);
}

.search-form {
  display: var(--bsb-searchform--wrapper--display, flex);
  flex-wrap: var(--bsb-searchform--wrapper--flex-wrap, nowrap);
  margin: var(--bsb-searchform--wrapper--margin, 1em 0);
}

h2 + .search-form,
h3 + .search-form {
  margin: var(--bsb-heading-searchform--margin, 0.5em 0 0);
}

.search-form input[type=search],
.search-form input[type=submit] {
  display: inline-block;
  margin: var(--bsb-searchform--input--margin, 0);
}

.search-label {
  display: inline-block;
  margin: var(--bsb-searchform--label--margin, 0 0.3em 0 0);
}

.search-submit {
  transform: translateX(-1px);
}

.search-form input[type=search]:focus {
  z-index: 1;
}

.site-header {
  position: relative;
  background-color: var(--bsb-site-header--bg-color, inherit);
}
.site-header .site-header-wrap {
  display: var(--bsb-site-header-wrap--display, flex);
  flex-direction: var(--bsb-site-header-wrap--flex-direction, row);
  align-items: var(--bsb-site-header-wrap--align-items, center);
  justify-content: var(--bsb-site-header-wrap--justify-content, space-between);
  gap: var(--bsb-site-header-wrap--gap, 1rem);
  padding: var(--bsb-site-header-wrap--padding);
}
@media screen and (max-width: 960px) {
  .site-header .site-header-wrap {
    flex-direction: var(--bsb-site-header-wrap--flex-direction-tablet, column);
    justify-content: var(--bsb-site-header-wrap--justify-content--tablet, center);
  }
}

.site-branding {
  position: relative;
  display: var(--bsb-site-branding--display, flex);
  flex-direction: var(--bsb-site-branding--flex-direction, row);
  align-items: var(--bsb-site-branding--align-items, center);
  justify-content: var(--bsb-site-branding--justify-content, flex-start);
  gap: var(--bsb-site-branding--gap, 1rem);
}
@media screen and (max-width: 960px) {
  .site-branding {
    flex-direction: var(--bsb-site-branding--flex-direction--tablet, column);
    justify-content: var(--bsb-site-branding--justify-content--tablet, center);
    text-align: var(--bsb-site-branding--text-align--tablet, center);
  }
}

.site-logo {
  min-width: var(--bsb-site-logo--min-width, 80px);
}
.site-logo img {
  display: var(--bsb-site-logo--display, block);
}

.site-title {
  margin: var(--bsb-site-title--margin, 0);
  font-size: var(--bsb-site-title--font-size, 1.625rem);
  font-weight: var(--bsb-site-title--font-weight, bold);
  line-height: 1.2;
  color: var(--bsb-site-title--text-color, inherit);
}
.site-title a {
  color: var(--bsb-site-title--link--text-color, inherit);
  -webkit-text-decoration: var(--bsb-site-title--link--text-decoration, none);
          text-decoration: var(--bsb-site-title--link--text-decoration, none);
}
.site-title a:hover, .site-title a:focus {
  color: var(--bsb-site-title--link--action--text-color, inherit);
}

.site-description {
  margin: var(--bsb-site-description--margin, 0);
}

.template-full-cover .site-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - var(--bsb-toolbar--height));
  background-position: center center;
  background-repeat: no-repeat;
  background-image: none;
  background-size: cover;
}
.template-full-cover .site-header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bsb-site-header-overlay--bg-color, rgba(0, 0, 0, 0.625));
}
.template-full-cover .page-header {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 0 2rem;
  transform: translateY(-2vw);
  pointer-events: none;
}
.template-full-cover .page-header * {
  pointer-events: initial;
}
.template-full-cover .page-header .button.intro-scroll {
  background: transparent;
  border: none;
  color: var(--bsb-cover--title--link--text-color, #ffffff);
  transition: transform ease-in-out 0.15s;
  transform: translateY(0);
}
.template-full-cover .page-header .button.intro-scroll:hover, .template-full-cover .page-header .button.intro-scroll:focus {
  color: var(--bsb-site-cover--title--link--action--text-color, #ffffff);
}
.template-full-cover .page-header .button.intro-scroll:hover {
  transform: translateY(0.25rem);
}
.template-full-cover .page-header .button.intro-scroll svg {
  width: calc(var(--bsb-button--svg-icon--width) * 2.5);
  height: calc(var(--bsb-button--svg-icon--height) * 2.5);
}
.template-full-cover .site-title,
.template-full-cover .page-title {
  color: var(--bsb-cover--titles--text-color, #ffffff);
}
.template-full-cover .site-title a,
.template-full-cover .page-title a {
  color: var(--bsb-cover--title--link--text-color, #ffffff);
}
.template-full-cover .site-title a:hover, .template-full-cover .site-title a:focus,
.template-full-cover .page-title a:hover,
.template-full-cover .page-title a:focus {
  color: var(--bsb-site-cover--title--link--action--text-color, #ffffff);
}
.template-full-cover .site-description,
.template-full-cover .page-description {
  color: var(--bsb-cover--site-description--text-color, #ffffff);
}
.template-full-cover .page-title {
  margin: 0;
  line-height: 1.2;
  font-size: var(--bsb-cover--page-title--font-size, clamp(2.375rem, 3vw + 1rem, 5vw));
}
.template-full-cover .page-description.page-description-single {
  margin: 1rem 0 0 0;
}

.nav-list {
  list-style: var(--bsb-nav-list--style, none);
  margin: var(--bsb-nav-list--margin, 0);
  padding: var(--bsb-nav-list--padding, 0);
}

.site-navigation {
  max-width: var(--bsb-site-nav--max-width);
}
.site-navigation ul {
  margin: var(--bsb-site-nav--list--margin, 0);
  display: var(--bsb-site-nav--list--display, flex);
  gap: var(--bsb-site-nav--list--gap, 0.25em 1em);
  justify-content: var(--bsb-site-nav--list--justify-content, flex-end);
  flex-wrap: var(--bsb-site-nav--list--flex-wrap, wrap);
}
@media screen and (max-width: 960px) {
  .site-navigation ul {
    justify-content: var(--bsb-site-nav--list--justify-content--tablet, center);
  }
}
.site-navigation ul li {
  position: relative;
  margin: var(--bsb-site-nav--item--margin, 0);
  line-height: 1.2;
  color: var(--bsb-site-nav--list--text-color, inherit);
}
.site-navigation ul li a {
  -webkit-text-decoration: var(--bsb-site-nav--item-link--text-decoration, none);
          text-decoration: var(--bsb-site-nav--item-link--text-decoration, none);
}
.site-navigation ul li ul {
  z-index: 1000;
  display: block;
  position: absolute;
  top: 100%;
  right: -9999em;
  width: 160px;
  transform: translateY(0);
  opacity: 0;
  transition: transform 0.25s, opacity 0.25s;
  background-color: var(--bsb-site-nav--sub-list--bg-color, #333333);
  box-shadow: var(--bsb-site-nav--sub-list--box-shadow, 0px 0px 0px 2px rgba(0, 0, 0, 0.825));
}
.site-navigation ul li ul:before {
  content: "";
  display: block;
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100%;
  height: 1rem;
}
.site-navigation ul li ul:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(-1rem - 2px);
  right: 1rem;
  width: 1rem;
  height: 1rem;
  border: solid 0.5rem transparent;
  border-bottom-color: #333333;
}
@media screen and (max-width: 960px) {
  .site-navigation ul li ul:after {
    right: calc(50% - 0.5rem);
  }
}
.site-navigation ul li ul li {
  margin: var(--bsb-site-nav--sub-item--margin, 0);
  text-align: center;
  color: var(--bsb-site-nav--sub-list--text-color, #ffffff);
}
.site-navigation ul li ul li a {
  display: block;
  padding: 0.5em 1em;
  color: inherit;
}
.site-navigation ul li ul li a:hover, .site-navigation ul li ul li a:focus {
  background-color: #555555;
  color: var(--bsb-site-nav--sub-list--action--text-color, #ffffff);
}
.site-navigation ul li:hover ul {
  right: 0;
  transform: translateY(1rem);
  opacity: 1;
}
@media screen and (max-width: 960px) {
  .site-navigation ul li:hover ul {
    right: auto;
    left: calc(-80px + 50%);
  }
}

.template-full-cover .site-navigation ul li {
  color: var(--bsb-site-nav--list--text-color, #ffffff);
}
.template-full-cover .site-navigation ul li a {
  color: var(--bsb-site-nav--list--text-color, #ffffff);
}
.template-full-cover .site-navigation ul li a:hover, .template-full-cover .site-navigation ul li a:focus {
  color: var(--bsb-site-title--cover--link--action--text-color, #ffffff);
}

.page-navigation {
  width: var(--bsb-page-nav--width, 100%);
  margin: var(--bsb-page-nav--margin, 2rem 0 0 0);
}
.page-navigation .pagination-list {
  width: var(--bsb-pagination-list--width, 100%);
  display: var(--bsb-pagination-list--display, flex);
  gap: var(--bsb-pagination-list--gap, 0 0.5em);
  justify-content: center;
}
.page-navigation .pagination-list.pagination-prev-next {
  justify-content: var(--bsb-pagination-list--prev-next--justify-content, space-between);
}
.page-navigation .pagination-list a {
  display: inline-block;
  padding: 0 0.5em;
  -webkit-text-decoration: var(--bsb-pagination-list--link--text-decoration, none);
          text-decoration: var(--bsb-pagination-list--link--text-decoration, none);
  font-weight: var(--bsb-pagination-list--link--font-weight, inherit);
  border: var(--bsb-pagination-list--link--border, solid 1px transparent);
}
.page-navigation .pagination-list a:hover, .page-navigation .pagination-list a:focus {
  border: var(--bsb-pagination-list--link--active--border, solid 1px #888888);
}
.page-navigation .pagination-list a.page-active {
  font-weight: var(--bsb-pagination-list--link--active--font-weight, 600);
  border: var(--bsb-pagination-list--link--active--border, solid 1px #888888);
}
.page-navigation .pagination-list a .page-icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.page-navigation .pagination-list a .page-icon svg {
  height: 1em;
  fill: currentColor;
}

body:not(.template-no-sidebar) .content-wrapper {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 960px) {
  body:not(.template-no-sidebar) .content-wrapper {
    flex-direction: column;
  }
}
body.template-sidebar-bottom .content-wrapper {
  flex-direction: column;
}

.content-wrapper {
  width: 100%;
  padding: var(--bsb-content-wrap--padding);
}

.page-main {
  width: 100%;
  padding: var(--bsb-page-main--padding);
}

.home .blog-view {
  padding: 2rem 2rem 0 2rem;
}

.blog-wrap {
  display: flex;
  gap: 2rem;
}
.blog-wrap:not(:first-of-type) {
  margin-top: 2rem;
}
.blog-wrap .page-cover-blog {
  width: 180px;
  min-width: 180px;
}
.blog-wrap h2 {
  margin: 0;
}

body:not(.home) .blog-wrap {
  margin-top: 1rem;
}

.page-header h1,
.page-header h2 {
  font-size: var(--bsb-page-header--heading--font-size);
}

.page-subtitle {
  font-size: var(--bsb-page-subtitle--font-size, 1.5em);
}

.page-info {
  font-size: var(--bsb-page-info--font-size, 0.85em);
}
.page-info .page-info-entry:not(:last-of-type) {
  margin: var(--bsb-page-info-entry--margin, 0 0.5em 0 0);
}

.page-description {
  margin: var(--bsb-page-description--margin, 0);
}
.page-description.page-description-single {
  margin: var(--bsb-page-description-single--margin, 0);
  font-size: var(--bsb-page-description-single--font-size, 1.25rem);
}

.page-content img[style="float: left;"],
.page-content img[style="float: left"],
.page-content img[style="float:left;"],
.page-content img[style="float:left"] {
  margin: var(--bsb-page-content--img--float-left--margin, 0 1em 1em 0);
}
.page-content img[style="float: right;"],
.page-content img[style="float: right"],
.page-content img[style="float:right;"],
.page-content img[style="float:right"] {
  margin: var(--bsb-page-content--img--float-right--margin, 0 0 1em 1em);
}

.page-cover:not(.page-cover-blog) {
  overflow: hidden;
  margin: var(--bsb-page-cover-single--margin, 1rem auto 0 auto);
  max-width: 2048px;
}
.page-cover:not(.page-cover-blog) img {
  display: block;
  width: 100%;
  max-height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.no-posts-found {
  display: var(--bsb-no-posts--display, flex);
  flex-direction: var(--bsb-no-posts--flex-direction, column);
  align-items: var(--bsb-no-posts--align-items, center);
  justify-content: var(--bsb-no-posts--justify-content, center);
  min-height: var(--bsb-no-posts--min-height, 50vh);
}
.no-posts-found h1 {
  font-size: var(--bsb-no-posts--heading--font-size, 2.5em);
}

.site-article .page-info-author {
  font-weight: var(--bsb-page-info-author--font-weight, 600);
}
.site-article .page-info-date {
  font-weight: var(--bsb-page-info-date--font-weight, 600);
}
.site-article .tags-list {
  margin: var(--bsb-article--tags-list--margin, 0.75em 0 0 0);
  gap: var(--bsb-article--tags-list--display, 0 0.1875em);
}
.site-article .tags-list a {
  display: var(--bsb-article--tags-list--display, inline-block);
  padding: var(--bsb-article--tags-list--padding, 0.175em 0.325em 0.325em 0.325em);
  line-height: var(--bsb-article--tags-list--line-height, 1);
  font-size: var(--bsb-article--tags-list--font-size);
  font-weight: var(--bsb-article--tags-list--font-weight);
  -webkit-text-decoration: var(--bsb-article--tags-list--text-decoration);
          text-decoration: var(--bsb-article--tags-list--text-decoration);
  background-color: var(--bsb-article--tags-list--bg-color);
  color: var(--bsb-article--tags-list--text-color);
}
.site-article .tags-list a:hover, .site-article .tags-list a:focus {
  background-color: var(--bsb-article--tags-list--action--bg-color);
  color: var(--bsb-article--tags-list--action--text-color);
}

.template-full-cover .page-content {
  margin: 4rem 0 0 0;
}

.blog article {
  opacity: 0;
  transition: opacity 0.25s;
  transition-delay: 0.25s;
}
.blog.page-loaded article {
  opacity: 1;
}

.blog.page-loaded article:nth-of-type(1) {
  transition-delay: 0.15s;
}

.blog.page-loaded article:nth-of-type(2) {
  transition-delay: 0.3s;
}

.blog.page-loaded article:nth-of-type(3) {
  transition-delay: 0.45s;
}

.blog.page-loaded article:nth-of-type(4) {
  transition-delay: 0.6s;
}

.blog.page-loaded article:nth-of-type(5) {
  transition-delay: 0.75s;
}

.blog.page-loaded article:nth-of-type(6) {
  transition-delay: 0.9s;
}

.blog.page-loaded article:nth-of-type(7) {
  transition-delay: 1.05s;
}

.blog.page-loaded article:nth-of-type(8) {
  transition-delay: 1.2s;
}

.blog.page-loaded article:nth-of-type(9) {
  transition-delay: 1.35s;
}

.blog.page-loaded article:nth-of-type(10) {
  transition-delay: 1.5s;
}

.blog.page-loaded article:nth-of-type(11) {
  transition-delay: 1.65s;
}

.blog.page-loaded article:nth-of-type(12) {
  transition-delay: 1.8s;
}

.theme-icon {
  display: inline-block;
  vertical-align: baseline;
  line-height: 1;
}
.theme-icon svg {
  fill: currentColor;
  height: 1em;
}

.sticky-icon.sticky-icon-heading svg {
  height: 0.725em;
  transform: translateY(0.05em);
}

body:not(.template-sidebar-bottom) .page-sidebar {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: var(--bsb-page-sidebar--padding, 2rem 0 0 0);
}
body.template-sidebar-bottom .page-sidebar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: var(--bsb-page-sidebar-bottom--padding, 2rem 0 0 0);
}
@media screen and (max-width: 640px) {
  body.template-sidebar-bottom .page-sidebar {
    display: block;
  }
}
@media screen and (max-width: 960px) {
  body:not(.template-sidebar-bottom) .page-sidebar, body.template-sidebar-bottom .page-sidebar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
@media screen and (max-width: 640px) {
  body:not(.template-sidebar-bottom) .page-sidebar, body.template-sidebar-bottom .page-sidebar {
    display: block;
  }
}

.page-sidebar {
  background-color: var(--bsb-page-sidebar--bg-color, inherit);
  color: var(--bsb-page-sidebar--text-color, inherit);
}
.page-sidebar .plugin {
  width: 100%;
  margin: var(--bsb-page-sidebar--plugin--margin, 1.5rem 0 0 0);
  order: 100;
}
.page-sidebar .plugin.plugin-search {
  order: 0;
}
.page-sidebar .plugin.plugin-search .plugin-content {
  display: flex;
  flex-wrap: nowrap;
  gap: 0 0.25rem;
}
.page-sidebar .plugin.plugin-search input[type=button] {
  text-indent: -999em;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 1.25em;
  background-position: center center;
  width: 1.5em;
  height: 1.5em;
  padding: 1.5em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%23333333' d='M504.1 471l-134-134C399.1 301.5 415.1 256.8 415.1 208c0-114.9-93.13-208-208-208S-.0002 93.13-.0002 208S93.12 416 207.1 416c48.79 0 93.55-16.91 129-45.04l134 134C475.7 509.7 481.9 512 488 512s12.28-2.344 16.97-7.031C514.3 495.6 514.3 480.4 504.1 471zM48 208c0-88.22 71.78-160 160-160s160 71.78 160 160s-71.78 160-160 160S48 296.2 48 208z'/></svg>");
}
.page-sidebar .plugin.plugin-search input[type=button]:hover, .page-sidebar .plugin.plugin-search input[type=button].hover, .page-sidebar .plugin.plugin-search input[type=button]:focus, .page-sidebar .plugin.plugin-search input[type=button].focus {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%23333333' d='M504.1 471l-134-134C399.1 301.5 415.1 256.8 415.1 208c0-114.9-93.13-208-208-208S-.0002 93.13-.0002 208S93.12 416 207.1 416c48.79 0 93.55-16.91 129-45.04l134 134C475.7 509.7 481.9 512 488 512s12.28-2.344 16.97-7.031C514.3 495.6 514.3 480.4 504.1 471zM48 208c0-88.22 71.78-160 160-160s160 71.78 160 160s-71.78 160-160 160S48 296.2 48 208z'/></svg>");
}
.page-sidebar .plugin.plugin-categories {
  order: 1;
}
.page-sidebar .plugin.plugin-tags {
  order: 2;
}
.page-sidebar .plugin.plugin-tags ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.75em;
}
.page-sidebar h2,
.page-sidebar h3 {
  margin: var(--bsb-page-sidebar--heading--margin, 0);
  font-size: var(--bsb-page-sidebar--heading--font-size, 1.375rem);
}
.page-sidebar a {
  color: var(--bsb-page-sidebar--link--text-color, var(--bsb-link--text-color));
}
.page-sidebar a:hover, .page-sidebar a:focus {
  color: var(--bsb-page-sidebar--link--action--text-color, var(--bsb-link--action--text-color));
}
.page-sidebar a:visited, .page-sidebar a:active {
  color: var(--bsb-page-sidebar--link--text-color, var(--bsb-link--text-color));
}
.page-sidebar a:visited:hover, .page-sidebar a:visited:focus, .page-sidebar a:active:hover, .page-sidebar a:active:focus {
  color: var(--bsb-page-sidebar--link--action--text-color, var(--bsb-link--action--text-color));
}
.page-sidebar ul {
  padding: var(--bsb-page-sidebar--ul--padding);
  list-style: var(--bsb-page-sidebar--ul--list-style, none);
}
.page-sidebar ol {
  padding: var(--bsb-page-sidebar--ol--padding, 0 0 0 1em);
}

.user-toolbar {
  position: var(--bsb-toolbar--position, fixed);
  top: var(--bsb-toolbar--top, 0);
  left: var(--bsb-toolbar--left, 0);
  width: var(--bsb-toolbar--width, 100%);
  height: var(--bsb-toolbar--height);
  overflow: var(--bsb-toolbar--overflow, visible);
  display: var(--bsb-toolbar--display, flex);
  justify-content: var(--bsb-toolbar--justify-content, space-between);
  align-items: var(--bsb-toolbar--align-items, center);
  padding: var(--bsb-toolbar--padding, 0 1rem);
  line-height: var(--bsb-toolbar--line-height, var(--bsb-toolbar--height));
  font-size: var(--bsb-toolbar--font-size, 0.875rem);
  background-color: var(--bsb-toolbar--background-color, #333333);
  color: var(--bsb-toolbar--text-color, #ffffff);
}
.user-toolbar a {
  display: inline-block;
  color: var(--bsb-toolbar--link--text-color, #ffffff);
  -webkit-text-decoration: var(--bsb-toolnar--link--text-decoration, none);
          text-decoration: var(--bsb-toolnar--link--text-decoration, none);
}
.user-toolbar a:hover, .user-toolbar afocus {
  color: var(--bsb-toolbar--link-action--text-color, #ffffff);
}
.user-toolbar a:not(:last-of-type) {
  margin: var(--bsb-toolbar--link--margin, 0 1rem 0 0);
}
.user-toolbar a#profile-link {
  display: var(--bsb-toolbar--profile-link--display, inline-flex);
  align-items: var(--bsb-toolbar--profile-link--align-items, center);
  transform: var(--bsb-toolbar--profile-link--transform, translateY(4px));
}
.user-toolbar a#profile-link img {
  display: var(--bsb-toolbar--profile-pic--display, block);
  margin: var(--bsb-toolbar--profile-pic--margin, 0 0.5em 0 0);
  border-radius: var(--bsb-toolbar--profile-pic--border-radius, 50%);
}

.site-footer {
  margin: var(--bsb-site-footer--margin, 2rem 0 0 0);
  padding: var(--bsb-site-footer--padding, 2rem);
  background-color: var(--bsb-site-footer--bg-color, inherit);
}
.site-footer .site-footer-text {
  text-align: var(--bsb-site-footer-text--text-align, center);
}
.site-footer .copyright {
  text-align: var(--bsb-copyright--text-align, center);
  font-size: var(--bsb-copyright--font-size, 0.8125rem);
}