html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, button, input, select, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, div, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  box-sizing: border-box;
  font-size: inherit;
  line-height: 1;
}

*, *:before, *:after {
  box-sizing: inherit;
  backface-visibility: hidden;
}

*:before, *:after {
  font-size: inherit;
}

img, object, embed, video {
  max-width: 100%;
}

img {
  height: auto;
  -ms-interpolation-mode: bicubic;
  border: 0;
}

hr {
  display: block;
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

a, a:hover, a:active, a:focus {
  outline: none;
  background-color: transparent;
}

small {
  font-size: 85%;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

input {
  line-height: normal;
}

input, textarea, select, button {
  border: solid 1px #ccc;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

input[type=radio], input[type=checkbox] {
  vertical-align: baseline;
}

input::-webkit-inner-spin-button {
  opacity: 1;
}

*::-moz-placeholder {
  color: #888;
  opacity: 1;
}

*::placeholder {
  color: #888;
  opacity: 1;
}

textarea {
  overflow: auto;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, html input[type=button], input[type=reset], input[type=submit], input[type=image] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

table {
  font-size: inherit;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

th {
  font-weight: bold;
  vertical-align: middle;
}

td, td img {
  font-weight: normal;
  vertical-align: top;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

dfn {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

blockquote {
  quotes: none;
}

q, cite {
  font-style: italic;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

[hidden], template {
  display: none;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

pre, code, kbd, samp {
  font-family: "Courier New", Courier, monospace;
}

b, strong, optgroup {
  font-weight: bold;
}

.clearfix {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1;
}

:root {
  --bsb-sans-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bsb-serif-stack: "Hoefler Text", "Baskerville Old Face", Garamond, Times, "Times New Roman", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bsb-heading--heading-primary--font-size: 1.5rem;
  --bsb-heading--heading-primary--font-weight: 700;
  --bsb-text-color: #333333;
  --bsb-link--text-color: #0044aa;
  --bsb-heading--link--text-decoration: none;
  --bsb-wrapper--general--max-width: 1280px;
  --bsb-wrapper--general--margin: 0 auto;
  --bsb-wrapper--general--padding: 0;
  --bsb-site-header-wrap--padding: 1rem 2rem;
  --bsb-site-logo--min-width: 80px;
  --bsb-site-nav--max-width: 50vw;
  --bsb-site-main--padding: 0 2rem;
  --bsb-page-header--heading--font-size: 2rem;
  --bsb-toolbar--height: 2rem;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--bsb-font-stack, var(--bsb-sans-stack, sans-serif));
  font-size: var(--bsb-font-size, 1rem);
  font-weight: var(--bsb-font-weight, normal);
  font-style: var(--bsb-font-style, normal);
  letter-spacing: var(--bsb-letter-spacing, normal);
  line-height: var(--bsb-line-height, 1.5);
  background: var(--bsb-bg-color);
  color: var(--bsb-text-color);
}
body.toolbar-active {
  margin-top: var(--bsb-toolbar--height);
}

.serif {
  font-family: var(--bsb-serif-stack, serif);
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.no-js .hide-if-no-js {
  display: none;
}

.js .hide-if-js {
  display: none;
}

.wrapper-general {
  width: var(--bsb-wrapper--general--width, 100%);
  max-width: var(--bsb-wrapper--general--max-width, 100%);
  margin: var(--bsb-wrapper--general--margin, 0);
  padding: var(--bsb-wrapper--general--padding, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: var(--bsb-element--margin-top, 1em);
}

a {
  -webkit-text-decoration: var(--bsb-link--text-decoration, underline);
          text-decoration: var(--bsb-link--text-decoration, underline);
  color: var(--bsb-link--text-color);
}

h1,
h2 {
  font-size: var(--bsb--heading-primary--font-size);
  font-weight: var(--bsb--heading-primary--font-weight, bold);
}
h1 a,
h2 a {
  -webkit-text-decoration: var(--bsb-link--text-decoration);
          text-decoration: var(--bsb-link--text-decoration);
  color: var(--bsb-link--text-color);
}
h1 a:visited, h1 a:active,
h2 a:visited,
h2 a:active {
  color: var(--bsb-link--action--text-color, var(--bsb-link--text-color));
}

.button {
  display: var(--bsb-button--display, inline-block);
  padding: var(--bsb-button--padding, 0.5em 1em);
  background-color: var(--bsb-button--background-color, inherit);
  border-style: var(--bsb-button--border-style, solid);
  border-width: var(--bsb-button--border-width, 1px);
  border-color: var(--bsb-button--border-color, var(--bsb-box--border-color, var(--bsb-text-color)));
  font-family: var(--bsb-button--font-family, inherit);
  font-size: var(--bsb-button--font-size, 1.0125em);
  font-weight: var(--bsb-button--font-weight, 600);
  -webkit-text-decoration: var(--bsb-button--text-decoration, none);
          text-decoration: var(--bsb-button--text-decoration, none);
  color: var(--bsb-button--text-color, inherit);
}

.site-header {
  background-color: var(--bsb-site-header--bg-color, inherit);
}
.site-header .site-header-wrap {
  display: var(--bsb-site-header-wrap--display, flex);
  flex-direction: var(--bsb-site-header-wrap--flex-direction, row);
  align-items: var(--bsb-site-header-wrap--align-items, center);
  justify-content: var(--bsb-site-header-wrap--justify-content, space-between);
  gap: var(--bsb-site-header-wrap--gap, 1rem);
  padding: var(--bsb-site-header-wrap--padding);
}
@media screen and (max-width: 960px) {
  .site-header .site-header-wrap {
    flex-direction: var(--bsb-site-header-wrap--flex-direction-tablet, column);
    justify-content: var(--bsb-site-header-wrap--justify-content--tablet, center);
  }
}

.site-branding {
  display: var(--bsb-site-branding--display, flex);
  flex-direction: var(--bsb-site-branding--flex-direction, row);
  align-items: var(--bsb-site-branding--align-items, center);
  justify-content: var(--bsb-site-branding--justify-content, flex-start);
  gap: var(--bsb-site-branding--gap, 1rem);
}
@media screen and (max-width: 960px) {
  .site-branding {
    flex-direction: var(--bsb-site-branding--flex-direction--tablet, column);
    justify-content: var(--bsb-site-branding--justify-content--tablet, center);
    text-align: var(--bsb-site-branding--text-align--tablet, center);
  }
}

.site-logo {
  min-width: var(--bsb-site-logo--min-width, 80px);
}
.site-logo img {
  display: var(--bsb-site-logo--display, block);
}

.site-title {
  margin: var(--bsb-site-title--margin, 0);
  font-size: var(--bsb-site-title--font-size, 1.625rem);
  font-weight: var(--bsb-site-title--font-weight, bold);
  line-height: 1.2;
}
.site-title a {
  color: var(--bsb-site-title--a--color, inherit) !important;
  -webkit-text-decoration: var(--bsb-site-title--a--text-decoration, none);
          text-decoration: var(--bsb-site-title--a--text-decoration, none);
}

.site-description {
  margin: var(--bsb-site-description--margin, 0);
}

.nav-list {
  list-style: var(--bsb-nav-list--style, none);
  margin: var(--bsb-nav-list--margin, 0);
  padding: var(--bsb-nav-list--padding, 0);
}

.site-navigation {
  max-width: var(--bsb-site-nav--max-width);
}
.site-navigation ul {
  margin: var(--bsb-site-nav--list--margin, 0);
  display: var(--bsb-site-nav--list--display, flex);
  gap: var(--bsb-site-nav--list--gap, 0.25em 1em);
  justify-content: var(--bsb-site-nav--list--justify-content, flex-end);
  flex-wrap: var(--bsb-site-nav--list--flex-wrap, wrap);
}
@media screen and (max-width: 960px) {
  .site-navigation ul {
    justify-content: var(--bsb-site-nav--list--justify-content--tablet, center);
  }
}
.site-navigation ul li {
  position: relative;
  margin: var(--bsb-site-nav--item--margin, 0);
  line-height: 1.2;
}
.site-navigation ul li a {
  -webkit-text-decoration: var(--bsb-site-nav--item-link--text-decoration, none);
          text-decoration: var(--bsb-site-nav--item-link--text-decoration, none);
}
.site-navigation ul li ul {
  display: block;
  position: absolute;
  top: 100%;
  right: -9999em;
  width: 160px;
  transform: translateY(0);
  opacity: 0;
  transition: transform 0.25s, opacity 0.25s;
  background-color: var(--bsb-site-nav--sub-list--bg-color, #333333);
}
.site-navigation ul li ul:before {
  content: "";
  display: block;
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100%;
  height: 1rem;
}
.site-navigation ul li ul:after {
  content: "";
  display: block;
  position: absolute;
  top: -1rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  border: solid 0.5rem transparent;
  border-bottom-color: #333333;
}
@media screen and (max-width: 960px) {
  .site-navigation ul li ul:after {
    right: calc(50% - 0.5rem);
  }
}
.site-navigation ul li ul li {
  margin: var(--bsb-site-nav--sub-item--margin, 0);
  text-align: center;
  color: var(--bsb-site-nav--sub-list--text-color, #ffffff);
}
.site-navigation ul li ul li a {
  display: block;
  padding: 0.5em 1em;
  color: inherit;
}
.site-navigation ul li ul li a:hover, .site-navigation ul li ul li a:focus {
  background-color: #555555;
}
.site-navigation ul li:hover ul {
  right: 0;
  transform: translateY(1rem);
  opacity: 1;
}
@media screen and (max-width: 960px) {
  .site-navigation ul li:hover ul {
    right: auto;
    left: calc(-80px + 50%);
  }
}

.page-navigation {
  width: var(--bsb-page-nav--width, 100%);
  margin: var(--bsb-page-nav--margin, 2rem 0 0 0);
}
.page-navigation .pagination-list {
  width: var(--bsb-pagination-list--width, 100%);
  display: var(--bsb-pagination-list--display, flex);
  justify-content: var(--bsb-pagination-list--justify-content, space-between);
}

.site-main {
  padding: var(--bsb-site-main--padding);
}

.blog-wrap {
  display: flex;
  gap: 2rem;
}
.blog-wrap:not(:first-of-type) {
  margin-top: 2rem;
}
.blog-wrap .page-cover-home {
  width: 180px;
  min-width: 180px;
}
.blog-wrap h2 {
  margin: 0;
}

.page-header h1,
.page-header h2 {
  font-size: var(--bsb-page-header--heading--font-size);
}

.page-subtitle {
  font-size: var(--bsb-page-subtitle--font-size, 1.5em);
}

.page-info {
  font-size: var(--bsb-page-info--font-size, 0.85em);
}
.page-info .page-info-entry:not(:last-of-type) {
  margin: var(--bsb-page-info-entry--margin, 0 0.5em 0 0);
}

.page-description {
  margin: var(--bsb-page-description--margin, 0);
}
.page-description.page-description-single {
  margin: var(--bsb-page-description-single--margin, 0);
  font-size: var(--bsb-page-description-single--font-size, 1.25rem);
}

.page-content img[style="float: left;"],
.page-content img[style="float: left"],
.page-content img[style="float:left;"],
.page-content img[style="float:left"] {
  margin: var(--bsb-page-content--img--float-left--margin, 0 1em 1em 0);
}
.page-content img[style="float: right;"],
.page-content img[style="float: right"],
.page-content img[style="float:right;"],
.page-content img[style="float:right"] {
  margin: var(--bsb-page-content--img--float-right--margin, 0 0 1em 1em);
}

.page-cover {
  margin: var(--bsb-page-cover-single--margin, 1rem 0 0 0);
}

.no-posts-found {
  display: var(--bsb-no-posts--display, flex);
  flex-direction: var(--bsb-no-posts--flex-direction, column);
  align-items: var(--bsb-no-posts--align-items, center);
  justify-content: var(--bsb-no-posts--justify-content, center);
  min-height: var(--bsb-no-posts--min-height, 50vh);
}
.no-posts-found h1 {
  font-size: var(--bsb-no-posts--heading--font-size, 2.5em);
}

.blog article {
  opacity: 0;
  transition: opacity 0.25s;
  transition-delay: 0.25s;
}
.blog.page-loaded article {
  opacity: 1;
}

.blog.page-loaded article:nth-of-type(1) {
  transition-delay: 0.15s;
}

.blog.page-loaded article:nth-of-type(2) {
  transition-delay: 0.3s;
}

.blog.page-loaded article:nth-of-type(3) {
  transition-delay: 0.45s;
}

.blog.page-loaded article:nth-of-type(4) {
  transition-delay: 0.6s;
}

.blog.page-loaded article:nth-of-type(5) {
  transition-delay: 0.75s;
}

.blog.page-loaded article:nth-of-type(6) {
  transition-delay: 0.9s;
}

.blog.page-loaded article:nth-of-type(7) {
  transition-delay: 1.05s;
}

.blog.page-loaded article:nth-of-type(8) {
  transition-delay: 1.2s;
}

.blog.page-loaded article:nth-of-type(9) {
  transition-delay: 1.35s;
}

.blog.page-loaded article:nth-of-type(10) {
  transition-delay: 1.5s;
}

.blog.page-loaded article:nth-of-type(11) {
  transition-delay: 1.65s;
}

.blog.page-loaded article:nth-of-type(12) {
  transition-delay: 1.8s;
}

.site-sidebar {
  padding: var(--bsb-site-sidebar--padding, 2rem 0 0 0);
  background-color: var(--bsb-site-sidebar--bg-color, inherit);
  color: var(--bsb-site-sidebar--text-color, inherit);
}
.site-sidebar a {
  color: var(--bsb-site-sidebar--link--text-color, var(--bsb-link--text-color));
}
.site-sidebar a:visited, .site-sidebar a:active {
  color: var(--bsb-site-sidebar--link--action--text-color, var(--bsb-site-sidebar--link--text-color, var(--bsb-link--text-color)));
}

.user-toolbar {
  position: var(--bsb-toolbar--position, fixed);
  top: var(--bsb-toolbar--top, 0);
  left: var(--bsb-toolbar--left, 0);
  width: var(--bsb-toolbar--width, 100%);
  height: var(--bsb-toolbar--height);
  overflow: var(--bsb-toolbar--overflow, visible);
  display: var(--bsb-toolbar--display, flex);
  justify-content: var(--bsb-toolbar--justify-content, space-between);
  align-items: var(--bsb-toolbar--align-items, center);
  padding: var(--bsb-toolbar--padding, 0 1rem);
  line-height: var(--bsb-toolbar--line-height, var(--bsb-toolbar--height));
  font-size: var(--bsb-toolbar--font-size, 0.875rem);
  background-color: var(--bsb-toolbar--background-color, #333333);
  color: var(--bsb-toolbar--text-color, #ffffff);
}
.user-toolbar a {
  display: inline-block;
  color: var(--bsb-toolbar--link--text-color, #ffffff);
  -webkit-text-decoration: var(--bsb-toolnar--link--text-decoration, none);
          text-decoration: var(--bsb-toolnar--link--text-decoration, none);
}
.user-toolbar a:hover, .user-toolbar afocus {
  color: var(--bsb-toolbar--link-action--text-color, #ffffff);
}
.user-toolbar a:not(:last-of-type) {
  margin: var(--bsb-toolbar--link--margin, 0 1rem 0 0);
}
.user-toolbar a#profile-link {
  display: var(--bsb-toolbar--profile-link--display, inline-flex);
  align-items: var(--bsb-toolbar--profile-link--align-items, center);
  transform: var(--bsb-toolbar--profile-link--transform, translateY(4px));
}
.user-toolbar a#profile-link img {
  display: var(--bsb-toolbar--profile-pic--display, block);
  margin: var(--bsb-toolbar--profile-pic--margin, 0 0.5em 0 0);
  border-radius: var(--bsb-toolbar--profile-pic--border-radius, 50%);
}

.site-footer {
  margin: var(--bsb-site-footer--margin, 2rem 0 0 0);
  padding: var(--bsb-site-footer--padding, 2rem);
  background-color: var(--bsb-site-footer--bg-color, inherit);
}
.site-footer .copyright {
  text-align: var(--bsb-copyright--text-align, center);
  font-size: var(--bsb-copyright--font-size, 0.8125rem);
}