@charset "UTF-8";
@keyframes spinner {
  from {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, button, input, select, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, div, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  box-sizing: border-box;
  font-size: inherit;
  line-height: 1;
}

*, *:before, *:after {
  box-sizing: inherit;
  backface-visibility: hidden;
}

*:before, *:after {
  font-size: inherit;
}

img, object, embed, video {
  max-width: 100%;
}

img {
  height: auto;
  -ms-interpolation-mode: bicubic;
  border: 0;
}

hr {
  display: block;
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

a, a:hover, a:active, a:focus {
  outline: none;
  background-color: transparent;
}

small {
  font-size: 85%;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

input {
  line-height: normal;
}

input, textarea, select, button {
  border: solid 1px #ccc;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

input[type=radio], input[type=checkbox] {
  vertical-align: baseline;
}

input::-webkit-inner-spin-button {
  opacity: 1;
}

*::-moz-placeholder {
  color: #888;
  opacity: 1;
}

*::placeholder {
  color: #888;
  opacity: 1;
}

textarea {
  overflow: auto;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, html input[type=button], input[type=reset], input[type=submit], input[type=image] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

table {
  font-size: inherit;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

th {
  font-weight: bold;
  vertical-align: middle;
}

td, td img {
  font-weight: normal;
  vertical-align: top;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

dfn {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

blockquote {
  quotes: none;
}

q, cite {
  font-style: italic;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

[hidden], template {
  display: none;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

pre, code, kbd, samp {
  font-family: "Courier New", Courier, monospace;
}

b, strong, optgroup {
  font-weight: bold;
}

.clearfix {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  zoom: 1;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  max-width: var(--cfe-body--max-width, 2048px);
  margin: var(--cfe-body--margin, 0 auto);
  font-family: var(--cfe-font-stack, var(--cfe-sans-stack, sans-serif));
  font-size: var(--cfe-font-size, 1rem);
  font-weight: var(--cfe-font-weight, normal);
  font-style: var(--cfe-font-style, normal);
  letter-spacing: var(--cfe-letter-spacing, normal);
  line-height: var(--cfe-line-height, 1.5);
  background-color: var(--cfe-bg-color);
  background-image: var(--cfe-bg-image);
  background-repeat: var(--cfe-bg-repeat);
  background-position: var(--cfe-bg-position);
  background-size: var(--cfe-bg-size);
  background-attachment: var(--cfe-bg-attachment);
  color: var(--cfe-text-color);
}
body.toolbar-active {
  margin-top: var(--cfe-toolbar--height);
}

.serif {
  font-family: var(--cfe-serif-stack, serif);
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.no-js .hide-if-no-js {
  display: none !important;
}

.js .hide-if-js {
  display: none !important;
}

.wrapper-general {
  width: var(--cfe-wrapper--general--width, 100%);
  max-width: var(--cfe-wrapper--general--max-width, 100%);
  margin: var(--cfe-wrapper--general--margin, 0);
  padding: var(--cfe-wrapper--general--padding, 0);
}

.page-wrap {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: var(--cfe-element--margin, 1em 0 0 0);
}

a {
  font-weight: var(--cfe-link--font-weight, normal);
  -webkit-text-decoration: var(--cfe-link--text-decoration, underline);
          text-decoration: var(--cfe-link--text-decoration, underline);
  color: var(--cfe-link--text-color);
  transition: var(--cfe-link--transition, all 0.15s);
}
a:hover, a:focus {
  color: var(--cfe-link--action--text-color);
}

h1,
h2 {
  font-family: var(--cfe-heading-primary--font-family);
  font-size: var(--cfe-heading-primary--font-size, 2rem);
  font-weight: var(--cfe-heading-primary--font-weight, 700);
  line-height: var(--cfe-heading-primary--line-height);
  word-spacing: -0.0325em;
  letter-spacing: var(--cfe-heading-primary--letter-spacing, -0.015em);
  text-transform: var(--cfe-heading-primary--text-transform);
  font-variant: var(--cfe-heading-primary--font-variant);
  color: var(--cfe-heading-primary--text-color, var(--cfe-text-color));
}
h1 a,
h2 a {
  font-weight: var(--cfe-heading-primary--link--font-weight, inherit);
  -webkit-text-decoration: var(--cfe-link--text-decoration, none);
          text-decoration: var(--cfe-link--text-decoration, none);
  color: var(--cfe-heading-primary--link--text-color, var(--cfe-link--text-color));
}
h1 a:hover, h1 a:focus,
h2 a:hover,
h2 a:focus {
  color: var(--cfe-heading-primary--link--action--text-color, var(--cfe-link--action--text-color));
}

h3,
h4 {
  font-family: var(--cfe-heading-secondary--font-family);
  font-size: var(--cfe-heading-secondary--font-size);
  font-weight: var(--cfe-heading-secondary--font-weight, bold);
  line-height: var(--cfe-heading-secondary--line-height);
  word-spacing: -0.0325em;
  letter-spacing: var(--cfe-heading-secondary--letter-spacing);
}

#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cfe-loader--bg-color, var(--cfe-bg-color));
  color: var(--cfe-loader--text-color, var(--cfe-text-color));
}
#page-loader .loading-text {
  font-family: var(--cfe-loader--text--font-family);
  font-size: var(--cfe-loader--text--font-size);
  font-weight: var(--cfe-loader--text--font-weight);
  line-height: var(--cfe-loader--text--line-height);
  word-spacing: -0.0325em;
  letter-spacing: var(--cfe-loader--text--letter-spacing, -0.015em);
  text-transform: var(--cfe-loader--text--text-transform);
  font-variant: var(--cfe-loader--text--font-variant);
}
#page-loader .loading-image {
  width: var(--cfe-loader--image--width, 1.75rem);
  height: var(--cfe-loader--image--height, 1.75rem);
  margin: var(--cfe-loader--image--margin, 2rem 0 0 0);
  animation: spinner 1s infinite linear;
}
#page-loader .loading-image svg {
  width: var(--cfe-loader--image--width, 1.75rem);
  height: var(--cfe-loader--image--height, 1.75rem);
  fill: currentColor;
}

.inline-list {
  display: inline-flex;
  gap: 0 0.5em;
  margin: 0;
}

.cover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cfe-cover-overlay--bg-color, rgba(0, 0, 0, 0.625));
}

#to-top {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cfe-button--bg-color);
  border: var(--cfe-form-element--border);
  border-color: var(--cfe-button--border-color, var(--cfe-form--border-color));
  color: var(--cfe-button--text-color, var(--cfe-text-color));
  border-radius: var(--cfe-to-top--border-radius, 50%);
  transform: translateY(0);
  transition: opacity 0.5s, background-color 0.25s, transform 0.25s;
}
#to-top.scrolled {
  opacity: 1;
  pointer-events: all;
}
#to-top:hover {
  background-color: var(--cfe-button--action-bg-color, var(--cfe-button--bg-color));
  border-color: var(--cfe-button--action-border-color, var(--cfe-button--border-color, ));
  color: var(--cfe-button--action-text-color, var(--cfe-button--text-color));
  transform: translateY(-0.25rem);
}
#to-top svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--cfe-to-top--svg--fill, currentColor);
}

.avatar {
  vertical-align: var(--cfe-avatar--vertical-align, middle);
  border-radius: var(--cfe-avatar--border-radius, 50%);
}

::-o-selection {
  color: var(--cfe-selection--text-color, #222222);
  background: var(--cfe-selection--bg-color, #ffdd00);
  text-shadow: none;
}

::-ms-selection {
  color: var(--cfe-selection--text-color, #222222);
  background: var(--cfe-selection--bg-color, #ffdd00);
  text-shadow: none;
}

::-webkit-selection {
  color: var(--cfe-selection--text-color, #222222);
  background: var(--cfe-selection--bg-color, #ffdd00);
  text-shadow: none;
}

::-moz-selection {
  color: var(--cfe-selection--text-color, #222222);
  background: var(--cfe-selection--bg-color, #ffdd00);
  text-shadow: none;
}

::selection {
  color: var(--cfe-selection--text-color, #222222);
  background: var(--cfe-selection--bg-color, #ffdd00);
  text-shadow: none;
}

form * + * {
  margin: var(--cfe-form--adjacent--margin, 1em 0 0);
}

fieldset {
  margin: var(--cfe-fieldset--margin);
  padding: var(--cfe-fieldset--padding);
  border: var(--cfe-fieldset--border);
}

legend {
  padding: var(--cfe-legend--padding);
  font-size: var(--cfe-legend-font-size);
  font-weight: var(--cfe-legend-font-weight);
}

input,
textarea,
select,
button,
.button {
  width: 100%;
  max-width: 640px;
  padding: var(--cfe-form-element--padding);
  font: inherit;
  font-weight: var(--cfe-form--font-weight);
  background-color: var(--cfe-form--bg-color);
  border: var(--cfe-form-element--border);
  color: var(--cfe-text-color);
}
input:focus, input.focus,
textarea:focus,
textarea.focus,
select:focus,
select.focus,
button:focus,
button.focus,
.button:focus,
.button.focus {
  border-color: var(--cfe-form--action-border-color);
}

label + input:not([type=checkbox]):not([type=radio]),
label ~ input:not([type=checkbox]):not([type=radio]),
label + button,
label ~ button,
label + textarea,
label ~ textarea,
label + select,
label ~ select {
  margin: var(--cfe-label-field--margin);
  display: block;
}

input[type=text],
input[type=email],
input[type=text],
input[type=password],
input[type=url],
input[type=tel],
input[type=search] {
  min-width: 160px;
}

input[type=radio],
input[type=checkbox] {
  width: auto;
  cursor: pointer;
}

.site-content button,
.button,
button[type=submit],
input[type=submit],
input[type=button],
input[type=reset],
input[type=image] {
  display: inline-block;
  width: auto;
  padding: var(--cfe-button--padding, var(--cfe-form-element--padding, 1em));
  line-height: var(--cfe-button--line-height, 1);
  cursor: pointer;
  font-weight: var(--cfe-button--font-weight, bold);
  background-color: var(--cfe-button--bg-color);
  border-color: var(--cfe-button--border-color, var(--cfe-form--border-color));
  color: var(--cfe-button--text-color, var(--cfe-text-color));
  text-decoration: none;
  transition: var(--cfe-button--transition--property, all) var(--cfe-button--transition--duration, 0.15s) var(--cfe-button--transition--function, ease-in-out);
}
.site-content button svg,
.button svg,
button[type=submit] svg,
input[type=submit] svg,
input[type=button] svg,
input[type=reset] svg,
input[type=image] svg {
  width: var(--cfe-button--svg-icon--width);
  height: var(--cfe-button--svg-icon--height);
  vertical-align: baseline;
  fill: currentColor;
}
.site-content button:hover, .site-content button:focus,
.button:hover,
.button:focus,
button[type=submit]:hover,
button[type=submit]:focus,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=button]:hover,
input[type=button]:focus,
input[type=reset]:hover,
input[type=reset]:focus,
input[type=image]:hover,
input[type=image]:focus {
  background-color: var(--cfe-button--action-bg-color, var(--cfe-button--bg-color));
  border-color: var(--cfe-button--action-border-color, var(--cfe-button--border-color, ));
  color: var(--cfe-button--action-text-color, var(--cfe-button--text-color));
}

input[type=number] {
  width: auto;
  padding: var(--cfe-input--type-number--padding, 0.6em 1em);
}

input[type=range] {
  padding: var(--cfe-input--type-range--padding, 1.3em 1em);
  cursor: pointer;
}

button:disabled,
button[disabled],
input:disabled,
input[disabled] {
  opacity: var(--cfe-button--disabled--opacity, 0.5);
  cursor: not-allowed !important;
}

textarea {
  min-height: var(--cfe-textarea--min-height);
  margin: var(--cfe-textarea--margin);
  padding: var(--cfe-textarea--padding);
  font: inherit;
  font-size: var(--cfe-textarea--font-size);
}

select {
  margin: var(--cfe-select--margin);
  padding: var(--cfe-select--padding);
  font: inherit;
}

option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

*::-o-placeholder {
  color: var(--cfe-form--placeholder-color);
}

*::-moz-placeholder {
  color: var(--cfe-form--placeholder-color);
}

*::placeholder {
  color: var(--cfe-form--placeholder-color);
}

.search-form {
  display: var(--cfe-searchform--wrapper--display, flex);
  flex-wrap: var(--cfe-searchform--wrapper--flex-wrap, wrap);
  margin: var(--cfe-searchform--wrapper--margin, 1em 0);
}
.search-form label {
  width: var(--cfe-searchform--label--width, 100%);
  font-size: var(--cfe-searchform--label--font-size, 1.5rem);
  font-weight: var(--cfe-searchform--label--font-weight, 700);
}

h2 + .search-form,
h3 + .search-form {
  margin: var(--cfe-heading-searchform--margin, 0.5em 0 0);
}

.search-form input[type=search],
.search-form input[type=submit] {
  display: inline-block;
  margin: var(--cfe-searchform--input--margin, 0);
}

.search-label {
  display: inline-block;
  margin: var(--cfe-searchform--label--margin, 0 0.3em 0 0);
}

.search-submit {
  transform: translateX(-1px);
}

.search-form input[type=search]:focus {
  z-index: 1;
}

.site-header {
  position: relative;
  background-color: var(--cfe-site-header--bg-color, var(--cfe-bg-color));
}
.site-header #search-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  z-index: 5998;
  background-color: var(--cfe-site-header--bg-color, var(--cfe-bg-color));
  display: flex;
  flex-wrap: nowrap;
  gap: 0 0.25rem;
  transform: translateY(calc(-100% - 4rem));
  opacity: 0;
  transition: transform 0.25s, opacity 0.625s;
}
.site-header #search-bar.active {
  transform: translateY(0%);
  opacity: 1;
}
.site-header #search-bar button[data-search-toggle-close] {
  text-indent: -999em;
  display: inline-block;
  background-color: var(--cfe-button--bg-color);
  background-repeat: no-repeat;
  background-size: 1.5em;
  background-position: 1em center;
  width: 1.5em;
  height: 1.5em;
  padding: 1.5em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%23333333' d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z'/></svg>");
}
.site-header #search-bar button[data-search-toggle-close]:hover, .site-header #search-bar button[data-search-toggle-close]:focus {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%23ffffff' d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z'/></svg>");
  background-color: var(--cfe-button--action-bg-color, var(--cfe-button--bg-color));
  border-color: var(--cfe-button--action-border-color, var(--cfe-button--border-color));
  color: var(--cfe-button--action-text-color, var(--cfe-button--text-color));
}
.site-header #search-bar button[data-search-toggle-close] svg {
  height: 1em;
  fill: currentColor;
}
.site-header .search-form-wrap {
  width: 100%;
}
.site-header .search-form-wrap .search-form {
  margin: 0;
  flex-wrap: nowrap;
  gap: 0 0.25rem;
}
.site-header .search-form-wrap .search-form #search-submit {
  margin: 0 !important;
}
.site-header .search-form-wrap input[type=search] {
  max-width: 100%;
}
.site-header .search-form-wrap input[type=button] {
  text-indent: -999em;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 1.25em;
  background-position: center center;
  width: 1.5em;
  height: 1.5em;
  padding: 1.5em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%23333333' d='M504.1 471l-134-134C399.1 301.5 415.1 256.8 415.1 208c0-114.9-93.13-208-208-208S-.0002 93.13-.0002 208S93.12 416 207.1 416c48.79 0 93.55-16.91 129-45.04l134 134C475.7 509.7 481.9 512 488 512s12.28-2.344 16.97-7.031C514.3 495.6 514.3 480.4 504.1 471zM48 208c0-88.22 71.78-160 160-160s160 71.78 160 160s-71.78 160-160 160S48 296.2 48 208z'/></svg>");
}
.site-header .search-form-wrap input[type=button]:hover, .site-header .search-form-wrap input[type=button]:focus {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%23ffffff' d='M504.1 471l-134-134C399.1 301.5 415.1 256.8 415.1 208c0-114.9-93.13-208-208-208S-.0002 93.13-.0002 208S93.12 416 207.1 416c48.79 0 93.55-16.91 129-45.04l134 134C475.7 509.7 481.9 512 488 512s12.28-2.344 16.97-7.031C514.3 495.6 514.3 480.4 504.1 471zM48 208c0-88.22 71.78-160 160-160s160 71.78 160 160s-71.78 160-160 160S48 296.2 48 208z'/></svg>");
}
.site-header .site-header-wrap {
  position: relative;
  display: var(--cfe-site-header-wrap--display, flex);
  flex-direction: var(--cfe-site-header-wrap--flex-direction, row);
  align-items: var(--cfe-site-header-wrap--align-items, center);
  justify-content: var(--cfe-site-header-wrap--justify-content, space-between);
  gap: var(--cfe-site-header-wrap--gap, 1rem);
  padding: var(--cfe-site-header-wrap--padding);
}
@media screen and (max-width: 960px) {
  .site-header .site-header-wrap {
    flex-direction: var(--cfe-site-header-wrap--flex-direction-tablet, column);
    justify-content: var(--cfe-site-header-wrap--justify-content--tablet, center);
  }
}

.site-branding {
  position: relative;
  display: var(--cfe-site-branding--display, flex);
  flex-direction: var(--cfe-site-branding--flex-direction, row);
  align-items: var(--cfe-site-branding--align-items, center);
  justify-content: var(--cfe-site-branding--justify-content, flex-start);
  gap: var(--cfe-site-branding--gap, 1rem);
}
@media screen and (max-width: 960px) {
  .site-branding {
    flex-direction: var(--cfe-site-branding--flex-direction--tablet, column);
    justify-content: var(--cfe-site-branding--justify-content--tablet, center);
    text-align: var(--cfe-site-branding--text-align--tablet, center);
  }
}

.site-logo {
  min-width: var(--cfe-site-logo--min-width, 80px);
}
.site-logo img {
  display: var(--cfe-site-logo--display, block);
}

.site-title {
  margin: var(--cfe-site-title--margin, 0);
  font-family: var(--cfe-site-title--font-family, var(--cfe-heading-primary--font-family));
  font-size: var(--cfe-site-title--font-size, 1.625rem);
  font-weight: var(--cfe-site-title--font-weight, bold);
  word-spacing: var(--cfe-site-title--word-spacing, -0.0325em);
  letter-spacing: var(--cfe-site-title--letter-spacing, -0.015em);
  text-transform: var(--cfe-site-title--text-transform);
  font-variant: var(--cfe-site-title--font-variant, var(--cfe-heading-primary--font-variant));
  line-height: var(--cfe-site-title--line-height, 1.2);
  color: var(--cfe-site-title--text-color, var(--cfe-heading-primary--text-color, var(--cfe-text-color)));
}
.site-title a {
  font-weight: inherit;
  color: var(--cfe-site-title--link--text-color, inherit);
  -webkit-text-decoration: var(--cfe-site-title--link--text-decoration, none);
          text-decoration: var(--cfe-site-title--link--text-decoration, none);
}
.site-title a:hover, .site-title a:focus {
  color: var(--cfe-site-title--link--action--text-color, inherit);
}

.site-description {
  margin: var(--cfe-site-description--margin, 0);
  color: var(--cfe-site-description--text-color, var(--cfe-text-color));
}

.template-full-cover .site-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: none;
  background-size: cover;
}
.template-full-cover .cover-header {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 0 2rem;
  transform: translateY(-2vw);
  pointer-events: none;
}
.template-full-cover .cover-header * {
  pointer-events: initial;
}
.template-full-cover .cover-header .button.intro-scroll {
  display: inline-block;
  margin: 0 auto;
  background: transparent;
  border: none;
  color: var(--cfe-cover--title--link--text-color, #ffffff);
  text-shadow: var(--cfe-text-shadow);
  transition: transform ease-in-out 0.15s;
  transform: translateY(0);
}
.template-full-cover .cover-header .button.intro-scroll:hover, .template-full-cover .cover-header .button.intro-scroll:focus {
  color: var(--cfe-site-cover--title--link--action--text-color, #ffffff);
}
.template-full-cover .cover-header .button.intro-scroll:hover {
  transform: translateY(0.25rem);
}
.template-full-cover .cover-header .button.intro-scroll svg {
  width: calc(var(--cfe-button--svg-icon--width) * 3.5);
  height: calc(var(--cfe-button--svg-icon--height) * 3.5);
}
.template-full-cover .site-title,
.template-full-cover .cover-title {
  color: var(--cfe-cover--titles--text-color, #ffffff);
  text-shadow: var(--cfe-text-shadow);
}
.template-full-cover .site-title a,
.template-full-cover .cover-title a {
  color: var(--cfe-cover--title--link--text-color, #ffffff);
}
.template-full-cover .site-title a:hover, .template-full-cover .site-title a:focus,
.template-full-cover .cover-title a:hover,
.template-full-cover .cover-title a:focus {
  color: var(--cfe-site-cover--title--link--action--text-color, #ffffff);
}
.template-full-cover .site-description,
.template-full-cover .cover-description:not(.blog-page-description) {
  color: var(--cfe-cover--site-description--text-color, #ffffff);
  text-shadow: var(--cfe-text-shadow);
}
.template-full-cover .cover-title {
  margin: 0;
  line-height: 1.2;
  font-size: var(--cfe-cover--page-title--font-size, clamp(2.375rem, 3vw + 1rem, 5vw));
  font-weight: var(--cfe-cover--page-title--font-weight, var(--cfe-heading-primary--font-weight, 700));
}
.template-full-cover .cover-description.page-description-single {
  margin: var(--cfe-cover--page-description-single--margin, 1rem 0 0 0);
  font-size: var(--cfe-cover--page-description-single--font-size);
  font-weight: var(--cfe-cover--page-description-single--font-weight);
}

.toolbar-active.template-full-cover .site-header {
  height: calc(100vh - var(--cfe-toolbar--height));
}

.nav-list {
  list-style: var(--cfe-nav-list--style, none);
  margin: var(--cfe-nav-list--margin, 0);
  padding: var(--cfe-nav-list--padding, 0);
}

.site-navigation {
  max-width: var(--cfe-site-nav--max-width);
}
.site-navigation ul {
  margin: var(--cfe-site-nav--list--margin, 0);
  display: var(--cfe-site-nav--list--display, flex);
  gap: var(--cfe-site-nav--list--gap, 0.25em 1em);
  justify-content: var(--cfe-site-nav--list--justify-content, flex-end);
  flex-wrap: var(--cfe-site-nav--list--flex-wrap, wrap);
}
@media screen and (max-width: 960px) {
  .site-navigation ul {
    justify-content: var(--cfe-site-nav--list--justify-content--tablet, center);
  }
}
.site-navigation ul li {
  position: relative;
  margin: var(--cfe-site-nav--item--margin, 0);
  font-family: var(--cfe-site-nav--item--font-family);
  font-size: var(--cfe-site-nav--item--font-size);
  font-weight: var(--cfe-site-nav--item--font-weight);
  text-transform: var(--cfe-site-nav--item--text-transform);
  font-variant: var(--cfe-site-nav--item--font-variant);
  line-height: 1.2;
  color: var(--cfe-site-nav--list--text-color, inherit);
}
.site-navigation ul li a {
  font-weight: inherit;
  -webkit-text-decoration: var(--cfe-site-nav--item-link--text-decoration, none);
          text-decoration: var(--cfe-site-nav--item-link--text-decoration, none);
  color: var(--cfe-site-nav--list--link--text-color, var(--cfe-link--text-color));
}
.site-navigation ul li a:hover, .site-navigation ul li a:focus {
  color: var(--cfe-site-nav--list--link--action--text-color, var(--cfe-site-nav--list--link--text-color, var(--cfe-link--text-color)));
}
.site-navigation ul li button {
  padding: unset;
  border: none;
}
.site-navigation ul li button svg {
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
}
.site-navigation ul li button:hover svg {
  fill: var(--cfe-link--text-color);
}
.site-navigation ul li ul {
  z-index: 1000;
  display: block;
  position: absolute;
  top: calc(100% - 2px);
  right: -9999em;
  width: 160px;
  transform: translateY(0);
  opacity: 0;
  transition: transform 0.25s, opacity 0.25s;
  background-color: var(--cfe-site-nav--sub-list--bg-color, #333333);
  border: solid 2px var(--cfe-site-nav--sub-list--border-color, var(--cfe-site-nav--sub-list--bg-color, #333333));
}
.site-navigation ul li ul:before {
  content: "";
  display: block;
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100%;
  height: 1rem;
}
.site-navigation ul li ul:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(-1rem - 2px);
  right: 1rem;
  width: 1rem;
  height: 1rem;
  border: solid 0.5rem transparent;
  border-bottom-color: var(--cfe-site-nav--sub-list--bg-color, #333333);
}
@media screen and (max-width: 960px) {
  .site-navigation ul li ul:after {
    right: calc(50% - 0.5rem);
  }
}
.site-navigation ul li ul li {
  margin: var(--cfe-site-nav--sub-item--margin, 0);
  text-align: center;
  color: var(--cfe-site-nav--sub-list--text-color, #ffffff);
}
.site-navigation ul li ul li a {
  display: block;
  padding: 0.5em 1em;
  background-color: var(--cfe-site-nav--sub-list--bg-color, inherit);
  color: var(--cfe-site-nav--sub-list--text-color, #ffffff);
}
.site-navigation ul li ul li a:hover, .site-navigation ul li ul li a:focus {
  background-color: var(--cfe-site-nav--sub-list--action--bg-color, #555555);
  color: var(--cfe-site-nav--sub-list--action--text-color, #ffffff);
}
.site-navigation ul li:hover ul {
  right: 0;
  transform: translateY(1rem);
  opacity: 1;
}
@media screen and (max-width: 960px) {
  .site-navigation ul li:hover ul {
    right: auto;
    left: calc(-80px + 50%);
  }
}

.template-full-cover .site-navigation ul li {
  color: var(--cfe-site-nav--list--text-color, #ffffff);
  text-shadow: var(--cfe-text-shadow);
}
.template-full-cover .site-navigation ul li a {
  color: var(--cfe-site-nav--list--text-color, #ffffff);
  text-shadow: var(--cfe-text-shadow);
}
.template-full-cover .site-navigation ul li a:hover, .template-full-cover .site-navigation ul li a:focus {
  color: var(--cfe-site-title--cover--link--action--text-color, #ffffff);
}
.template-full-cover .site-navigation ul li button {
  padding: unset;
  border: none;
}
.template-full-cover .site-navigation ul li button svg {
  height: 1em;
  vertical-align: middle;
  fill: var(--cfe-site-nav--list--text-color, #ffffff);
}
.template-full-cover .site-navigation ul li button:hover svg {
  fill: var(--cfe-site-title--cover--link--action--text-color, #ffffff);
}

.page-navigation {
  width: var(--cfe-page-nav--width, 100%);
  margin: var(--cfe-page-nav--margin, 2rem 0 0 0);
}
.page-navigation .pagination-list {
  width: var(--cfe-pagination-list--width, 100%);
  display: var(--cfe-pagination-list--display, flex);
  gap: var(--cfe-pagination-list--gap, 0 0.5em);
  justify-content: center;
}
.page-navigation .pagination-list.pagination-prev-next {
  justify-content: var(--cfe-pagination-list--prev-next--justify-content, space-between);
}
.page-navigation .pagination-list.pagination-numerical a {
  display: inline-block;
  padding: 0 0.5em;
  -webkit-text-decoration: var(--cfe-pagination-list--numeric--link--text-decoration, none);
          text-decoration: var(--cfe-pagination-list--numeric--link--text-decoration, none);
  font-weight: var(--cfe-pagination-list--numeric--link--font-weight, inherit);
  border: var(--cfe-pagination-list--link--numeric--border, solid 1px transparent);
}
.page-navigation .pagination-list.pagination-numerical a:hover, .page-navigation .pagination-list.pagination-numerical a:focus {
  border: var(--cfe-pagination-list--numeric--link--active--border, solid 1px #888888);
}
.page-navigation .pagination-list.pagination-numerical a.page-active {
  font-weight: var(--cfe-pagination-list--numeric--link--active--font-weight, 600);
  border: var(--cfe-pagination-list--numeric--link--active--border, solid 1px #888888);
}
.page-navigation .pagination-list.pagination-numerical a .page-icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.page-navigation .pagination-list.pagination-numerical a .page-icon svg {
  height: 1em;
  fill: currentColor;
}

.social-navigation {
  margin: 1em 0 0 0;
}
.social-navigation .social-nav-list {
  display: flex;
  justify-content: center;
  gap: 0 1em;
}
.social-navigation .social-nav-list svg {
  width: 1.25em;
  height: 1.25em;
  fill: currentColor;
}

body:not(.template-no-sidebar) .content-wrapper {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 960px) {
  body:not(.template-no-sidebar) .content-wrapper {
    flex-direction: column;
  }
}
body.template-sidebar-bottom .content-wrapper {
  flex-direction: column;
}

.content-wrapper {
  width: 100%;
  padding: var(--cfe-content-wrap--padding);
}

.page-main {
  width: 100%;
  padding: var(--cfe-page-main--padding);
}

.home .blog-view {
  padding: 2rem 2rem 0 2rem;
}

.blog-wrap {
  display: flex;
  gap: 2rem;
}
.blog-wrap:not(:first-of-type) {
  margin-top: 2rem;
}
.blog-wrap .post-cover {
  width: 180px;
  min-width: 180px;
}
.blog-wrap h2 {
  margin: 0;
}

.page-header h1,
.page-header h2 {
  font-size: var(--cfe-page-header--heading--font-size, var(--cfe-heading-primary--font-size, 2rem));
}
.page-header h1 a,
.page-header h2 a {
  font-weight: var(--cfe-page-header--heading--link--font-weight, inherit);
}
.page-header.post-header h2 {
  margin: 0;
}

.page-summary .page-header h1,
.page-summary .page-header h2 {
  font-size: var(--cfe-page-summary--page-header--heading--font-size);
  font-weight: var(--cfe-page-summary--page-header--heading--font-weight);
  line-height: var(--cfe-page-summary--page-header--heading--line-height);
}

.page-subtitle {
  font-family: var(--cfe-page-subtitle--font-family);
  font-size: var(--cfe-page-subtitle--font-size, 1.5em);
}

.page-info {
  font-family: var(--cfe-page-info--font-family);
  font-size: var(--cfe-page-info--font-size, 0.85em);
  line-height: var(--cfe-page-info--line-height);
}
.page-info .page-info-entry:not(:last-of-type) {
  margin: var(--cfe-page-info-entry--margin, 0 0.5em 0 0);
}

.page-description {
  margin: var(--cfe-page-description--margin, 0);
}
.page-description.page-description-single {
  margin: var(--cfe-page-description-single--margin, 0);
  font-size: var(--cfe-page-description-single--font-size, 1.25rem);
}

.loop main article {
  margin: var(--cfe-news-article--full--margin, 2rem 0 0 0);
}
.loop main article:not(:first-of-type) {
  padding: var(--cfe-news-article--full--padding, 2rem 0 0 0);
  border-top: var(--cfe-news-article--full--border-top, solid 1px var(--cfe-box-border-color));
}
.loop .post-info .theme-icon {
  display: inline-block;
}
.loop .post-info .theme-icon.category-icon svg {
  width: 1em;
  height: 1em;
  margin: 0 0.25em 0 0;
  vertical-align: bottom;
}
.loop .post-info .theme-icon.tags-icon svg {
  width: 1.25em;
  height: 1.25em;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

.post-full-content .post-cover {
  overflow: hidden;
}
.post-full-content .post-cover img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}
.post-full-content.post-news-content {
  display: grid;
  gap: 1rem 1.5rem;
  grid-template-areas: "header  header header" "info    cover cover" "....... content content";
}
@media screen and (max-width: 640px) {
  .post-full-content.post-news-content {
    display: block;
  }
}
.post-full-content.post-news-content .post-header {
  grid-area: header;
}
.post-full-content.post-news-content .post-cover {
  grid-area: cover;
  margin: var(--cfe-post-cover--news--full--margin, 0);
}
@media screen and (max-width: 640px) {
  .post-full-content.post-news-content .post-cover {
    margin: var(--cfe-post-cover--news--full--phone--margin, 1.5rem 0 0 0);
  }
}
.post-full-content.post-news-content .post-cover img {
  max-height: 480px;
}
.post-full-content.post-news-content .post-content {
  grid-area: content;
  margin: var(--cfe-post-cover--news--full--margin, 0);
}
.post-full-content.post-news-content .post-info {
  grid-area: info;
  width: var(--cfe-post-info--news--full--width, 20%);
  min-width: var(--cfe-post-info--news--full--min-width, 180px);
}
.post-full-content.post-news-content .post-info p {
  margin: var(--cfe-post-info--news--full--p--margin, var(--cfe-element--margin));
}
.post-full-content.post-news-content .post-info p + p {
  margin: var(--cfe-post-info--news--full--p-p--margin, 0);
}
.post-full-content.post-news-content .post-info .post-info-author {
  margin: var(--cfe-post-info-details--news--full--margin);
}
.post-full-content.post-news-content .post-info .post-info-category {
  margin: var(--cfe-post-info-category--news--full--margin, 0);
  font-size: var(--cfe-post-info-category--news--full--font-size, 1.5rem);
  font-weight: var(--cfe-post-info-category--news--full--font-weight, 700);
  font-style: var(--cfe-post-info-category--news--full--font-style, normal);
  line-height: var(--cfe-post-info-category--news--full--line-height, 1);
}
.post-full-content.post-news-content .post-info .post-info-category a {
  -webkit-text-decoration: var(--cfe-post-info-category--news--full--link--text-decoration, none);
          text-decoration: var(--cfe-post-info-category--news--full--link--text-decoration, none);
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.post-full-content.post-news-content .post-info .post-info-date {
  margin: var(--cfe-post-info-date--news--full--margin, 0);
  font-size: var(--cfe-post-info-date--news--full--font-size);
  font-weight: var(--cfe-post-info-date--news--full--font-weight);
  line-height: var(--cfe-post-info-date--news--full--line-height);
}
.post-full-content.post-news-content .post-info .post-info-word-count {
  display: block;
}
.post-full-content.post-news-content .post-info .post-info-read-time {
  display: block;
}
.post-full-content.post-blog-content .post-cover {
  margin: var(--cfe-post-cover--blog--full--margin, 1.5rem 0 0 0);
}
.post-full-content.post-blog-content .post-cover img {
  height: 66.6666666667%;
}
.post-full-content.post-blog-content .post-info p {
  margin: var(--cfe-post-info--news--full--p--margin, var(--cfe-element--margin));
}
.post-full-content.post-blog-content .post-info p + p {
  margin: var(--cfe-post-info--news--full--p-p--margin, 0);
}
.post-full-content.post-blog-content .post-info .post-info-author {
  margin: var(--cfe-post-info-details--news--full--margin);
}
.post-full-content.post-blog-content .post-info .post-info-category {
  margin: var(--cfe-post-info-category--news--full--margin, 0);
  font-size: var(--cfe-post-info-category--news--full--font-size, 1.5rem);
  font-weight: var(--cfe-post-info-category--news--full--font-weight, 700);
  font-style: var(--cfe-post-info-category--news--full--font-style, normal);
  line-height: var(--cfe-post-info-category--news--full--line-height, 1);
}
.post-full-content.post-blog-content .post-info .post-info-category a {
  -webkit-text-decoration: var(--cfe-post-info-category--news--full--link--text-decoration, none);
          text-decoration: var(--cfe-post-info-category--news--full--link--text-decoration, none);
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.post-full-content.post-blog-content .post-info .post-info-date {
  margin: var(--cfe-post-info-date--news--full--margin, 0);
  font-size: var(--cfe-post-info-date--news--full--font-size);
  font-weight: var(--cfe-post-info-date--news--full--font-weight);
  line-height: var(--cfe-post-info-date--news--full--line-height);
}
.post-full-content.post-blog-content .post-info .post-info-details {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.post-full-content.post-blog-content .post-info .post-info-separator:after {
  content: "•";
}

.page-content {
  margin: var(--cfe-page-content--margin, 4rem 0 0 0);
}
.page-content img[style="float: left;"],
.page-content img[style="float: left"],
.page-content img[style="float:left;"],
.page-content img[style="float:left"] {
  margin: var(--cfe-page-content--img--float-left--margin, 0 1em 1em 0);
}
.page-content img[style="float: right;"],
.page-content img[style="float: right"],
.page-content img[style="float:right;"],
.page-content img[style="float:right"] {
  margin: var(--cfe-page-content--img--float-right--margin, 0 0 1em 1em);
}

.page-cover {
  position: relative;
  overflow: hidden;
  margin: var(--cfe-page-cover-single--margin, 0 auto 0 auto);
  max-width: 2048px;
}
.page-cover.post-cover {
  margin: var(--cfe-post-cover--margin, 2rem 0 0 0);
}
.page-cover img {
  display: block;
  width: 100%;
  max-height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.page-cover.page-cover-singular figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--cfe-cover--title--link--text-color, #ffffff);
}
.page-cover.page-cover-singular figcaption .cover-header {
  z-index: 100;
  text-align: center;
}
.page-cover.page-cover-singular figcaption .cover-title {
  margin: 0;
  line-height: 1.2;
  font-size: var(--cfe-cover--page-title--font-size, clamp(2.375rem, 3vw + 1rem, 5vw));
  font-weight: var(--cfe-cover--page-title--font-weight, var(--cfe-heading-primary--font-weight, 700));
  color: var(--cfe-cover--titles--text-color, #ffffff);
}
.page-cover.page-cover-singular figcaption .cover-title a {
  color: var(--cfe-cover--title--link--text-color, #ffffff);
}
.page-cover.page-cover-singular figcaption .cover-title a:hover, .page-cover.page-cover-singular figcaption .cover-title a:focus {
  color: var(--cfe-site-cover--title--link--action--text-color, #ffffff);
}
.page-cover.page-cover-singular figcaption .cover-description.page-description-single {
  margin: var(--cfe-cover--page-description-single--margin, 1rem 0 0 0);
  font-size: var(--cfe-cover--page-description-single--font-size);
  font-weight: var(--cfe-cover--page-description-single--font-weight);
}

.no-posts-found {
  display: var(--cfe-no-posts--display, flex);
  flex-direction: var(--cfe-no-posts--flex-direction, column);
  align-items: var(--cfe-no-posts--align-items, center);
  justify-content: var(--cfe-no-posts--justify-content, center);
  min-height: var(--cfe-no-posts--min-height, 50vh);
}
.no-posts-found h1 {
  font-size: var(--cfe-no-posts--heading--font-size, 2.5em);
}

.site-article .page-info-author {
  font-weight: var(--cfe-page-info-author--font-weight, 600);
}
.site-article .page-info-date {
  font-weight: var(--cfe-page-info-date--font-weight, 600);
}
.site-article .tags-list {
  list-style: var(--cfe-article--tags-list--margin, none);
  margin: var(--cfe-article--tags-list--margin, 0.75em 0 0 0);
  gap: var(--cfe-article--tags-list--display, 0 0.1875em);
}
.site-article .tags-list a {
  display: var(--cfe-article--tags-list--display, inline-block);
  padding: var(--cfe-article--tags-list--padding, 0.175em 0.325em 0.325em 0.325em);
  line-height: var(--cfe-article--tags-list--line-height, 1);
  font-size: var(--cfe-article--tags-list--font-size);
  font-weight: var(--cfe-article--tags-list--font-weight);
  -webkit-text-decoration: var(--cfe-article--tags-list--text-decoration);
          text-decoration: var(--cfe-article--tags-list--text-decoration);
  background-color: var(--cfe-article--tags-list--bg-color);
  color: var(--cfe-article--tags-list--text-color);
}
.site-article .tags-list a:hover, .site-article .tags-list a:focus {
  background-color: var(--cfe-article--tags-list--action--bg-color);
  color: var(--cfe-article--tags-list--action--text-color);
}

.blog article {
  opacity: 0;
  transition: opacity 0.25s;
  transition-delay: 0.25s;
}
.blog.page-loaded article {
  opacity: 1;
}

.blog.page-loaded article:nth-of-type(1) {
  transition-delay: 0.15s;
}

.blog.page-loaded article:nth-of-type(2) {
  transition-delay: 0.3s;
}

.blog.page-loaded article:nth-of-type(3) {
  transition-delay: 0.45s;
}

.blog.page-loaded article:nth-of-type(4) {
  transition-delay: 0.6s;
}

.blog.page-loaded article:nth-of-type(5) {
  transition-delay: 0.75s;
}

.blog.page-loaded article:nth-of-type(6) {
  transition-delay: 0.9s;
}

.blog.page-loaded article:nth-of-type(7) {
  transition-delay: 1.05s;
}

.blog.page-loaded article:nth-of-type(8) {
  transition-delay: 1.2s;
}

.blog.page-loaded article:nth-of-type(9) {
  transition-delay: 1.35s;
}

.blog.page-loaded article:nth-of-type(10) {
  transition-delay: 1.5s;
}

.blog.page-loaded article:nth-of-type(11) {
  transition-delay: 1.65s;
}

.blog.page-loaded article:nth-of-type(12) {
  transition-delay: 1.8s;
}

.theme-icon {
  display: inline-block;
  vertical-align: baseline;
  line-height: 1;
}
.theme-icon svg {
  fill: currentColor;
  height: 1em;
}

.sticky-icon.sticky-icon-heading svg {
  height: 0.725em;
  transform: translateY(0.05em);
}

body:not(.template-sidebar-bottom) .page-sidebar {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: var(--cfe-page-sidebar--padding, 2rem 0 0 0);
}
body.template-sidebar-bottom .page-sidebar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: var(--cfe-page-sidebar-bottom--padding, 2rem 0 0 0);
}
@media screen and (max-width: 640px) {
  body.template-sidebar-bottom .page-sidebar {
    display: block;
  }
}
@media screen and (max-width: 960px) {
  body:not(.template-sidebar-bottom) .page-sidebar, body.template-sidebar-bottom .page-sidebar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
@media screen and (max-width: 640px) {
  body:not(.template-sidebar-bottom) .page-sidebar, body.template-sidebar-bottom .page-sidebar {
    display: block;
  }
}

.page-sidebar {
  background-color: var(--cfe-page-sidebar--bg-color, inherit);
  color: var(--cfe-page-sidebar--text-color, inherit);
}
.page-sidebar .plugin {
  width: 100%;
  margin: var(--cfe-page-sidebar--plugin--margin, 1.5rem 0 0 0);
  order: 100;
}
.page-sidebar .plugin.plugin-search {
  order: 0;
}
.page-sidebar .plugin.plugin-search .plugin-content {
  display: flex;
  flex-wrap: nowrap;
  gap: 0 0.25rem;
}
.page-sidebar .plugin.plugin-search input[type=button] {
  text-indent: -999em;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 1.25em;
  background-position: center center;
  width: 1.5em;
  height: 1.5em;
  padding: 1.5em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%23333333' d='M504.1 471l-134-134C399.1 301.5 415.1 256.8 415.1 208c0-114.9-93.13-208-208-208S-.0002 93.13-.0002 208S93.12 416 207.1 416c48.79 0 93.55-16.91 129-45.04l134 134C475.7 509.7 481.9 512 488 512s12.28-2.344 16.97-7.031C514.3 495.6 514.3 480.4 504.1 471zM48 208c0-88.22 71.78-160 160-160s160 71.78 160 160s-71.78 160-160 160S48 296.2 48 208z'/></svg>");
}
.page-sidebar .plugin.plugin-search input[type=button]:hover, .page-sidebar .plugin.plugin-search input[type=button]:focus {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%23ffffff' d='M504.1 471l-134-134C399.1 301.5 415.1 256.8 415.1 208c0-114.9-93.13-208-208-208S-.0002 93.13-.0002 208S93.12 416 207.1 416c48.79 0 93.55-16.91 129-45.04l134 134C475.7 509.7 481.9 512 488 512s12.28-2.344 16.97-7.031C514.3 495.6 514.3 480.4 504.1 471zM48 208c0-88.22 71.78-160 160-160s160 71.78 160 160s-71.78 160-160 160S48 296.2 48 208z'/></svg>");
}
.page-sidebar .plugin.plugin-categories {
  order: 1;
}
.page-sidebar .plugin.plugin-tags {
  order: 2;
}
.page-sidebar .plugin.plugin-tags ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.75em;
}
.page-sidebar h2,
.page-sidebar h3 {
  margin: var(--cfe-page-sidebar--heading--margin, 0);
  font-size: var(--cfe-page-sidebar--heading--font-size, 1.375rem);
  word-spacing: -0.0325em;
  letter-spacing: -0.015em;
}
.page-sidebar a {
  font-weight: var(--cfe-page-sidebar--link--font-weight);
  color: var(--cfe-page-sidebar--link--text-color, var(--cfe-link--text-color));
}
.page-sidebar a:hover, .page-sidebar a:focus {
  color: var(--cfe-page-sidebar--link--action--text-color, var(--cfe-link--action--text-color));
}
.page-sidebar a:visited, .page-sidebar a:active {
  color: var(--cfe-page-sidebar--link--text-color, var(--cfe-link--text-color));
}
.page-sidebar a:visited:hover, .page-sidebar a:visited:focus, .page-sidebar a:active:hover, .page-sidebar a:active:focus {
  color: var(--cfe-page-sidebar--link--action--text-color, var(--cfe-link--action--text-color));
}
.page-sidebar ul {
  padding: var(--cfe-page-sidebar--ul--padding);
  list-style: var(--cfe-page-sidebar--ul--list-style, none);
}
.page-sidebar ol {
  padding: var(--cfe-page-sidebar--ol--padding, 0 0 0 1em);
}

.sidebar-search-hidden .page-sidebar .plugin-search {
  display: none !important;
}

.user-toolbar {
  position: var(--cfe-toolbar--position, fixed);
  top: var(--cfe-toolbar--top, 0);
  left: var(--cfe-toolbar--left, 0);
  width: var(--cfe-toolbar--width, 100%);
  height: var(--cfe-toolbar--height);
  z-index: 5999;
  overflow: var(--cfe-toolbar--overflow, visible);
  display: var(--cfe-toolbar--display, flex);
  justify-content: var(--cfe-toolbar--justify-content, space-between);
  align-items: var(--cfe-toolbar--align-items, center);
  padding: var(--cfe-toolbar--padding, 0 1rem);
  line-height: var(--cfe-toolbar--line-height, var(--cfe-toolbar--height));
  font-size: var(--cfe-toolbar--font-size, 0.875rem);
  background-color: var(--cfe-toolbar--background-color, #333333);
  color: var(--cfe-toolbar--text-color, #ffffff);
}
.user-toolbar a {
  display: inline-block;
  color: var(--cfe-toolbar--link--text-color, #ffffff);
  -webkit-text-decoration: var(--cfe-toolnar--link--text-decoration, none);
          text-decoration: var(--cfe-toolnar--link--text-decoration, none);
}
.user-toolbar a:hover, .user-toolbar afocus {
  color: var(--cfe-toolbar--link-action--text-color, #ffffff);
}
.user-toolbar a:not(:last-of-type) {
  margin: var(--cfe-toolbar--link--margin, 0 1rem 0 0);
}
.user-toolbar a#profile-link {
  display: var(--cfe-toolbar--profile-link--display, inline-flex);
  align-items: var(--cfe-toolbar--profile-link--align-items, center);
  transform: var(--cfe-toolbar--profile-link--transform, translateY(4px));
}
.user-toolbar a#profile-link img {
  display: var(--cfe-toolbar--profile-pic--display, block);
  margin: var(--cfe-toolbar--profile-pic--margin, 0 0.5em 0 0);
  border-radius: var(--cfe-toolbar--profile-pic--border-radius, 50%);
}

.site-footer {
  margin: var(--cfe-site-footer--margin, 2rem 0 0 0);
  padding: var(--cfe-site-footer--padding, 2rem);
  background-color: var(--cfe-site-footer--bg-color, inherit);
}
.site-footer .site-footer-text {
  text-align: var(--cfe-site-footer-text--text-align, center);
}
.site-footer .copyright {
  text-align: var(--cfe-copyright--text-align, center);
  font-size: var(--cfe-copyright--font-size, 0.8125rem);
}

@media (prefers-color-scheme: dark) {
  .site-header #search-bar button[data-search-toggle-close] {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%23eeeeee' d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z'/></svg>");
  }
  .site-header #search-bar button[data-search-toggle-close]:hover,
  .site-header #search-bar button[data-search-toggle-close]:focus {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%23eeeeee' d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z'/></svg>");
  }
  .site-header .search-form-wrap input[type=button],
  .page-sidebar .plugin.plugin-search input[type=button] {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%23eeeeee' d='M504.1 471l-134-134C399.1 301.5 415.1 256.8 415.1 208c0-114.9-93.13-208-208-208S-.0002 93.13-.0002 208S93.12 416 207.1 416c48.79 0 93.55-16.91 129-45.04l134 134C475.7 509.7 481.9 512 488 512s12.28-2.344 16.97-7.031C514.3 495.6 514.3 480.4 504.1 471zM48 208c0-88.22 71.78-160 160-160s160 71.78 160 160s-71.78 160-160 160S48 296.2 48 208z'/></svg>");
  }
  .site-header .search-form-wrap input[type=button]:hover,
  .site-header .search-form-wrap input[type=button]:focus,
  .page-sidebar .plugin.plugin-search input[type=button]:hover,
  .page-sidebar .plugin.plugin-search input[type=button]:focus {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='%23eeeeee' d='M504.1 471l-134-134C399.1 301.5 415.1 256.8 415.1 208c0-114.9-93.13-208-208-208S-.0002 93.13-.0002 208S93.12 416 207.1 416c48.79 0 93.55-16.91 129-45.04l134 134C475.7 509.7 481.9 512 488 512s12.28-2.344 16.97-7.031C514.3 495.6 514.3 480.4 504.1 471zM48 208c0-88.22 71.78-160 160-160s160 71.78 160 160s-71.78 160-160 160S48 296.2 48 208z'/></svg>");
  }
  :root {
    --cfe-bg-color: #1e1e1e;
    --cfe-text-color: #eeeeee;
    --cfe-link--text-color: #ffffff;
    --cfe-link--action--text-color: #eeeeee;
    --cfe-heading-primary--text-color: #eeeeee;
    --cfe-heading-primary--link--text-color: #eeeeee;
    --cfe-heading-primary--link--action--text-color: #ffffff;
    --cfe-box-border-color: #333333;
    --cfe-form--border-color: #555555;
    --cfe-form--action-border-color: #888888;
    --cfe-form--placeholder-color: #888888;
    --cfe-button--bg-color: #333333;
    --cfe-button--action-bg-color: #555555;
    --cfe-button--text-color: #eeeeee;
    --cfe-site-header--bg-color: #1e1e1e;
    --cfe-site-nav--sub-list--bg-color: #333333;
    --cfe-site-nav--sub-list--action--bg-color: #555555;
    --cfe-site-nav--sub-list--text-color: #ffffff;
    --cfe-site-nav--sub-list--action--text-color: #ffffff;
    --cfe-article--tags-list--bg-color: #555555;
    --cfe-article--tags-list--text-color: #eeeeee;
    --cfe-article--tags-list--action--bg-color: #555555;
    --cfe-article--tags-list--action--text-color: #ffffff;
  }
}