///
/// Aside/sidebar content
///

body {
	&:not( .template-sidebar-bottom ) {
		.page-sidebar {
			display: flex;
			flex-direction: column;
			width: 320px;
			padding: var( --bsb-page-sidebar--padding, 2rem 0 0 0 );
		}
	}

	&.template-sidebar-bottom {
		.page-sidebar {
			padding: var( --bsb-page-sidebar-bottom--padding, 2rem 2rem 0 2rem );
		}
	}
}

.page-sidebar {
	background-color: var( --bsb-page-sidebar--bg-color, inherit );
	color: var( --bsb-page-sidebar--text-color, inherit );

	.plugin {
		margin: var( --bsb-page-sidebar--plugin--margin, 1.5rem 0 0 0 );
		order: 100;

		&.plugin-search {
			order: 1;
		}

		&.plugin-categories {
			order: 2;
		}

		&.plugin-tags {
			order: 3;

			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 0 1em;
			}
		}
	}

	h2,
	h3 {
		margin: var( --bsb-page-sidebar--heading--margin, 0 );
		font-size: var( --bsb-page-sidebar--heading--font-size, 1.375rem );
	}

	a {
		color: var( --bsb-page-sidebar--link--text-color, var( --bsb-link--text-color ) );

		&:visited,
		&:active {
			color: var( --bsb-page-sidebar--link--action--text-color, var( --bsb-page-sidebar--link--text-color, var( --bsb-link--text-color ) ) );
		}
	}

	ul {
		padding: var( --bsb-page-sidebar--ul--padding );
		list-style: var( --bsb-page-sidebar--ul--list-style, none );
	}

	ol {
		padding: var( --bsb-page-sidebar--ol--padding, 0 0 0 1em );;
	}
}
