///
/// Aside/sidebar content
///

body {
	&:not( .template-sidebar-bottom ) {
		.page-sidebar {
			display: flex;
			flex-direction: column;
			width: 320px;
			padding: var( --cfe-page-sidebar--padding, 2rem 0 0 0 );
		}
	}

	&.template-sidebar-bottom {
		.page-sidebar {
			width: 100%;
			display: grid;
			grid-template-columns: repeat( 2, 1fr );
			gap: 1.5rem;
			padding: var( --cfe-page-sidebar-bottom--padding, 2rem 0 0 0 );

			@media screen and ( max-width: $break_phone ) {
				display: block;
			}
		}
	}

	&:not( .template-sidebar-bottom ),
	&.template-sidebar-bottom {
		.page-sidebar {
			@media screen and ( max-width: $break_tablet ) {
				width: 100%;
				display: grid;
				grid-template-columns: repeat( 2, 1fr );
				gap: 1.5rem;
			}

			@media screen and ( max-width: $break_phone ) {
				display: block;
			}
		}
	}
}

.page-sidebar {
	background-color: var( --cfe-page-sidebar--bg-color, inherit );
	color: var( --cfe-page-sidebar--text-color, inherit );

	.plugin {
		width: 100%;
		margin: var( --cfe-page-sidebar--plugin--margin, 1.5rem 0 0 0 );
		order: 100;

		&.plugin-search {
			order: 0;

			.plugin-content {
				display: flex;
				flex-wrap: nowrap;
				gap: 0 0.25rem;
			}

			input[type="button"] {
				text-indent: -999em;
				display: inline-block;
				background-repeat: no-repeat;
				background-size: 1.25em;
				background-position: center center;
				width: 1.5em;
				height: 1.5em;
				padding: 1.5em;
				background-image: url( '#{$search_icon_bg}' );

				&:hover,
				&:focus {
					background-image: url( '#{$search_icon_action_bg}' );
				}
			}
		}

		&.plugin-categories {
			order: 1;
		}

		&.plugin-tags {
			order: 2;

			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 0 0.75em;
			}
		}
	}

	h2,
	h3 {
		margin: var( --cfe-page-sidebar--heading--margin, 0 );
		font-size: var( --cfe-page-sidebar--heading--font-size, 1.375rem );
		word-spacing: -0.0325em;
		letter-spacing: -0.015em;
	}

	a {
		font-weight: var( --cfe-page-sidebar--link--font-weight );
		color: var( --cfe-page-sidebar--link--text-color, var( --cfe-link--text-color ) );

		&:hover,
		&:focus {
			color: var( --cfe-page-sidebar--link--action--text-color, var( --cfe-link--action--text-color ) );
		}

		&:visited,
		&:active {
			color: var( --cfe-page-sidebar--link--text-color, var( --cfe-link--text-color ) );

			&:hover,
			&:focus {
				color: var( --cfe-page-sidebar--link--action--text-color, var( --cfe-link--action--text-color ) );
			}
		}
	}

	ul {
		padding: var( --cfe-page-sidebar--ul--padding );
		list-style: var( --cfe-page-sidebar--ul--list-style, none );
	}

	ol {
		padding: var( --cfe-page-sidebar--ol--padding, 0 0 0 1em );;
	}
}

// Search hidden.
.sidebar-search-hidden {
	.page-sidebar {
		.plugin-search {
			display: none !important;
		}
	}
}
