///
/// Content styles
///

body {
	&:not( .template-no-sidebar ) {
		.content-wrapper {
			display: flex;
			gap: var( --cfe-spacing--vert, 2rem ) var( --cfe-spacing--horz, 2rem );

			@media screen and ( max-width: $break_tablet ) {
				flex-direction: column;
			}
		}
	}

	&.template-sidebar-bottom {
		.content-wrapper {
			flex-direction: column;
		}
	}
}

.content-wrapper {
	width: 100%;
	padding: var( --cfe-content-wrap--padding );
}

.page-main {
	width: 100%;
	padding: var( --cfe-page-main--padding );
}

.home .blog-view {
	padding: var( --cfe-spacing--vert, 2rem ) var( --cfe-spacing--horz, 2rem ) 0 var( --cfe-spacing--horz, 2rem );
}

.page-header {
	h1,
	h2 {
		font-size: var( --cfe-page-header--heading--font-size, var( --cfe-heading-primary--font-size, 2rem ) );

		a {
			font-weight: var( --cfe-page-header--heading--link--font-weight, inherit );
		}
	}

	&.post-header {
		h2 {
			margin: 0;
		}
	}
}

.page-subtitle {
	font-family: var( --cfe-page-subtitle--font-family );
	font-size: var( --cfe-page-subtitle--font-size, 1.5em );
}

.page-info {
	font-family: var( --cfe-page-info--font-family );
	font-size: var( --cfe-page-info--font-size, 0.85em );
	line-height: var( --cfe-page-info--line-height );

	.page-info-entry {
		&:not( :last-of-type ) {
			margin: var( --cfe-page-info-entry--margin, 0 0.5em 0 0 );
		}
	}
}

.page-description {
	margin: var( --cfe-page-description--margin, 0 );

	&.page-description-single {
		margin: var( --cfe-page-description-single--margin, 0 );
		font-size: var( --cfe-page-description-single--font-size, 1.25rem );
	}
}

.loop {
	main {
		article {
			margin: var( --cfe-news-article--full--margin, var( --cfe-spacing--vert, 2rem ) 0 0 0 );

			&:not( :first-of-type ) {
				padding: var( --cfe-news-article--full--padding, var( --cfe-spacing--vert, 2rem ) 0 0 0 );
				border-top: var( --cfe-news-article--full--border-top, var( --cfe-box-border ) );
			}
		}
	}

	&.loop-template-grid {

		main {
			article {
				margin: 0;
				padding: 0;
				border: none;
			}
		}
	}

	.post-info {
		.theme-icon {
			display: inline-block;

			&.category-icon {
				svg {
					width: 1em;
					height: 1em;
					margin: 0 0.25em 0 0;
					vertical-align: bottom;
				}
			}

			&.tags-icon {
				svg {
					width: 1.25em;
					height: 1.25em;
					margin: 0 0.5em 0 0;
					vertical-align: middle;
				}
			}
		}
	}
}

.loop-wrap {
	&.loop-wrap-grid {
		display: grid;
		grid-template-columns: repeat( 3, 1fr );
		gap: 0.25rem;
	}
}

// Includes list, full, and grid templates.
.post-loop-content {
	height: 100%;

	.post-cover {
		overflow: hidden;

		img {
			display: block;
			width: 100%;
			height: 100%;
			max-height: 320px;
			object-fit: cover;
		}
	}

	.post-info-category {
		margin: var( --cfe-post-info-category--margin, 0 );
		font-size: var( --cfe-post-info-category--font-size, 1.5rem );
		font-weight: var( --cfe-post-info-category--font-weight, 700 );
		font-style: var( --cfe-post-info-category--font-style, normal );
		line-height: var( --cfe-post-info-category--line-height, 1 );

		@media screen and ( max-width: $break_phone ) {
			margin: var( --cfe-post-info-category--phone--margin, 1rem 0 0 0 );
		}

		a {
			text-decoration: var( --cfe-post-info-category--link--text-decoration, none );
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
		}
	}

	.post-info {
		p {
			margin: var( --cfe-post-info--p--margin, 0.5em 0 0 0 );

			& + p {
				margin: var( --cfe-post-info--p-p--margin, 0 );
			}
		}

		.post-info-author {
			margin: var( --cfe-post-info-details--margin );
		}
	}
}

// Default loop template
.post-list-content {

	max-width: 100%;
	display: grid;
	gap: 1rem 1.5rem;
	grid-template-columns: 180px calc( 100% - 180px - 3rem );
	grid-template-areas:
	"cover header header"
	"cover info info";

	@media screen and ( max-width: $break_phone ) {
		display: block;
	}

	.post-header {
		grid-area: header;

		h1,
		h2 {
			font-size: var( --cfe-post-header--list--heading--font-size );
			font-weight: var( --cfe-post-header--list--heading--font-weight );
			line-height: var( --cfe-post-header--list--heading--line-height );
		}
	}

	.post-cover {
		grid-area: cover;

		@media screen and ( max-width: $break_phone ) {
			margin: var( --cfe-post-cover--list--phone--margin, 1.5rem 0 0 0 );
		}

		img {
			max-width: 180px;
			max-height: 180px;

			@media screen and ( max-width: $break_phone ) {
				max-width: unset;
				max-height: 480px;
			}
		}
	}

	.post-info {
		grid-area: info;
	}

	.post-info-category {
		font-size: var( --cfe-post-info-category--list--font-size, var( --cfe-heading-secondary--font-size ) );
		font-weight: var( --cfe-post-info-category--list--font-weight, var( --cfe-heading-secondary--font-weight ) );

		@media screen and ( max-width: $break_phone ) {
			font-size: var( --cfe-post-info-category--phone--font-size, var( --cfe-post-info-category--list--font-size, var( --cfe-heading-secondary--font-size ) ) );
		}
	}
}

// Full loop content in the config file.
.post-full-content {

	// News style loop in the config file.
	&.post-news-content {
		display: grid;
		gap: 1rem 1.5rem;
		grid-template-areas:
		"header  header header"
		"info    cover cover"
		"....... content content";

		@media screen and ( max-width: $break_phone ) {
			display: block;
		}

		.post-header {
			grid-area: header;
		}

		.post-cover {
			grid-area: cover;
			margin: var( --cfe-post-cover--news--full--margin, 0 );

			@media screen and ( max-width: $break_phone ) {
				margin: var( --cfe-post-cover--news--full--phone--margin, 1.5rem 0 0 0 );
			}

			img {
				max-height: 480px;
			}
		}

		.post-in-loop-content {
			grid-area: content;
			margin: var( --cfe-post-cover--news--full--margin, 0 );
		}

		.post-info {
			grid-area: info;
			width: var( --cfe-post-info--news--full--width, 20% );
			min-width: var( --cfe-post-info--news--full--min-width, 180px );

			.post-info-date {
				margin: var( --cfe-post-info-date--news--full--margin, 0 );
				font-size: var( --cfe-post-info-date--news--full--font-size );
				font-weight: var( --cfe-post-info-date--news--full--font-weight );
				line-height: var( --cfe-post-info-date--news--full--line-height );
			}

			.post-info-word-count {
				display: block;
			}

			.post-info-read-time {
				display: block;
			}
		}
	}

	&.post-blog-content {

		.post-cover {
			margin: var( --cfe-post-cover--blog--full--margin, 1.5rem 0 0 0 );

			img {
				height: calc( 100% / 3 * 2 );
			}
		}

		.post-info {

			p {
				margin: var( --cfe-post-info--news--full--p--margin, var( --cfe-element--margin ) );

				& + p {
					margin: var( --cfe-post-info--news--full--p-p--margin, 0 );
				}
			}

			.post-info-author {
				margin: var( --cfe-post-info-details--news--full--margin );
			}

			.post-info-date {
				margin: var( --cfe-post-info-date--news--full--margin, 0 );
				font-size: var( --cfe-post-info-date--news--full--font-size );
				font-weight: var( --cfe-post-info-date--news--full--font-weight );
				line-height: var( --cfe-post-info-date--news--full--line-height );
			}

			.post-info-details {
				display: flex;
				flex-wrap: wrap;
				gap: 0.5em;
			}

			.post-info-separator {
				&:after {
					content: '•';
				}
			}
		}
	}
}

// Grid loop content in the config file.
.post-grid-content {
	position: relative;
	margin: 0;

	.post-header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		z-index: 10;
		padding: 1rem;
	}

	.post-cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			max-height: 480px;
		}
	}
}

.page-content {
	margin: var( --cfe-page-content--margin, calc( var( --cfe-spacing--vert ) * 2 ) 0 0 0 );

	ul {
		list-style: var( --cfe-ul--list-style, none );

		li {
			&:before {
				display: inline-block;
				content: '\2022\00a0';
				transform: scale( 150% ) translateY( -2.5% );
			}
		}
	}

	ol {
		list-style: var( --cfe-ol--list-style, none );
		counter-reset: ol_item;

		li {
			&:before {
				display: inline-block;
				counter-increment: ol_item;
				content: counter( ol_item ) '.\00a0';
				font-weight: 600;
			}
		}
	}

	img[style="float: left;"],
	img[style="float: left"],
	img[style="float:left;"],
	img[style="float:left"] {
		margin: var( --cfe-page-content--img--float-left--margin, 0 1em 1em 0 );
	}

	img[style="float: right;"],
	img[style="float: right"],
	img[style="float:right;"],
	img[style="float:right"] {
		margin: var( --cfe-page-content--img--float-right--margin, 0 0 1em 1em );
	}
}

// No posts template.
.no-posts-found {
	display: var( --cfe-no-posts--display, flex );
	flex-direction: var( --cfe-no-posts--flex-direction, column );
	align-items: var( --cfe-no-posts--align-items, center );
	justify-content: var( --cfe-no-posts--justify-content, center );
	min-height: var( --cfe-no-posts--min-height, 50vh );

	h1 {
		font-size: var( --cfe-no-posts--heading--font-size, 2.5em );
	}
}

.site-article {

	.page-info-author {
		font-weight: var( --cfe-page-info-author--font-weight, 600 );
	}

	.page-info-date {
		font-weight: var( --cfe-page-info-date--font-weight, 600 );
	}

	.tags-list {
		list-style: var( --cfe-article--tags-list--margin, none );
		margin: var( --cfe-article--tags-list--margin, 0.75em 0 0 0 );
		gap: var( --cfe-article--tags-list--display, 0 0.1875em );

		a {
			display: var( --cfe-article--tags-list--display, inline-block );
			padding: var( --cfe-article--tags-list--padding, 0.175em 0.325em 0.325em 0.325em );
			line-height: var( --cfe-article--tags-list--line-height, 1 );
			font-family: var( --cfe-article--tags-list--font-family );
			font-size: var( --cfe-article--tags-list--font-size );
			font-weight: var( --cfe-article--tags-list--font-weight );
			text-decoration: var( --cfe-article--tags-list--text-decoration );
			background-color: var( --cfe-article--tags-list--bg-color );
			color: var( --cfe-article--tags-list--text-color );

			&:hover,
			&:focus {
				background-color: var( --cfe-article--tags-list--action--bg-color );
				color: var( --cfe-article--tags-list--action--text-color );
			}
		}
	}
}

// Blog transition demo.
.blog {
	article {
		opacity: 0;
		transition: opacity .25s;
		transition-delay: .25s;
	}

	&.page-loaded {
		article {
			opacity: 1;
		}
	}
}
@for $blog_article from 1 through 12 {
	.blog {
		&.page-loaded {
			article {
				&:nth-of-type( #{$blog_article} ) {
					transition-delay: ( $blog_article + 0 ) * .15s;
				}
			}
		}
	}
}

// Sticky post icon.
.sticky-icon {
	&.sticky-icon-heading {

		svg {
			height: 0.725em;
			transform: translateY( 0.05em );
		}
	}
}
