///
/// Content styles
///

.site-main {
	padding: var( --bsb-site-main--padding );
}

.blog-wrap {
	display: flex;
	gap: 2rem;

	&:not( :first-of-type ) {
		margin-top: 2rem;
	}

	.page-cover-home {
		width: 180px;
		min-width: 180px;
	}

	h2 {
		margin: 0;
	}
}

.page-header {
	h1,
	h2 {
		font-size: var( --bsb-page-header--heading--font-size );
	}
}

.page-subtitle {
	font-size: var( --bsb-page-subtitle--font-size, 1.5em );
}

.page-info {
	font-size: var( --bsb-page-info--font-size, 0.85em );

	.page-info-entry {
		&:not( :last-of-type ) {
			margin: var( --bsb-page-info-entry--margin, 0 0.5em 0 0 );
		}
	}
}

.page-description {
	margin: var( --bsb-page-description--margin, 0 );

	&.page-description-single {
		margin: var( --bsb-page-description-single--margin, 0 );
		font-size: var( --bsb-page-description-single--font-size, 1.25rem );
	}
}

.page-content {
	img[style="float: left;"],
	img[style="float: left"],
	img[style="float:left;"],
	img[style="float:left"] {
		margin: var( --bsb-page-content--img--float-left--margin, 0 1em 1em 0 );
	}

	img[style="float: right;"],
	img[style="float: right"],
	img[style="float:right;"],
	img[style="float:right"] {
		margin: var( --bsb-page-content--img--float-right--margin, 0 0 1em 1em );
	}
}

.page-cover {
	margin: var( --bsb-page-cover-single--margin, 1rem 0 0 0 );
}

// No posts template.
.no-posts-found {
	display: var( --bsb-no-posts--display, flex );
	flex-direction: var( --bsb-no-posts--flex-direction, column );
	align-items: var( --bsb-no-posts--align-items, center );
	justify-content: var( --bsb-no-posts--justify-content, center );
	min-height: var( --bsb-no-posts--min-height, 50vh );

	h1 {
		font-size: var( --bsb-no-posts--heading--font-size, 2.5em );
	}
}

// Blog transition demo.
.blog {
	article {
		opacity: 0;
		transition: opacity .25s;
		transition-delay: .25s;
	}

	&.page-loaded {
		article {
			opacity: 1;
		}
	}
}
@for $blog_article from 1 through 12 {
	.blog {
		&.page-loaded {
			article {
				&:nth-of-type( #{$blog_article} ) {
					transition-delay: ( $blog_article + 0 ) * .15s;
				}
			}
		}
	}
}

// Theme icons.
.theme-icon {
	display: inline-block;
	vertical-align: baseline;
	line-height: 1;

	svg {
		fill: currentColor;
		height: 1em;
	}
}

// Sticky post icon.
.sticky-icon {
	&.sticky-icon-heading {

		svg {
			height: 0.725em;
			transform: translateY( 0.05em );
		}
	}
}
