///
/// Page header styles
///

.site-header {
	position: relative;
	background-color: var( --bsb-site-header--bg-color, inherit );

	.site-header-wrap {
		display: var( --bsb-site-header-wrap--display, flex );
		flex-direction: var( --bsb-site-header-wrap--flex-direction, row );
		align-items: var( --bsb-site-header-wrap--align-items, center );
		justify-content: var( --bsb-site-header-wrap--justify-content, space-between );
		gap: var( --bsb-site-header-wrap--gap, 1rem );
		padding: var( --bsb-site-header-wrap--padding );

		@media screen and ( max-width: $break_tablet ) {
			flex-direction: var( --bsb-site-header-wrap--flex-direction-tablet, column );
			justify-content: var( --bsb-site-header-wrap--justify-content--tablet, center );
		}
	}
}

.site-branding {
	position: relative;
	display: var( --bsb-site-branding--display, flex );
	flex-direction: var( --bsb-site-branding--flex-direction, row );
	align-items: var( --bsb-site-branding--align-items, center );
	justify-content: var( --bsb-site-branding--justify-content, flex-start );
	gap: var( --bsb-site-branding--gap, 1rem );

	@media screen and ( max-width: $break_tablet ) {
		flex-direction: var( --bsb-site-branding--flex-direction--tablet, column );
		justify-content: var( --bsb-site-branding--justify-content--tablet, center );
		text-align: var( --bsb-site-branding--text-align--tablet, center );
	}
}

.site-logo {
	min-width: var( --bsb-site-logo--min-width, 80px );

	img {
		display: var( --bsb-site-logo--display, block );
	}
}

.site-title {
	margin: var( --bsb-site-title--margin, 0 );
	font-size: var( --bsb-site-title--font-size, 1.625rem );
	font-weight: var( --bsb-site-title--font-weight, bold );
	line-height: 1.2;
	color: var( --bsb-site-title--text-color, inherit );

	a {
		color: var( --bsb-site-title--link--text-color, inherit );
		text-decoration: var( --bsb-site-title--link--text-decoration, none );

		&:hover,
		&:focus {
			color: var( --bsb-site-title--link--action--text-color, inherit );
		}
	}
}

.site-description {
	margin: var( --bsb-site-description--margin, 0 );
}

.template-full-cover {

	.site-header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: calc( 100vh - var(--bsb-toolbar--height) );
		background-position: center center;
		background-repeat:no-repeat;
		background-image: none;
		background-size: cover;
	}

	.site-header-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var( --bsb-site-header-overlay--bg-color, rgba( $color: black, $alpha: 0.625 ) );
	}

	.page-header {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 2rem 0 2rem;
		transform: translateY( -2vw );

		// In case it overlaps somewhere.
		pointer-events: none;

		// Restore pointer events for children.
		* {
			pointer-events: initial;
		}

		.button {
			&.intro-scroll {
				background: transparent;
				border: none;
				color: var( --bsb-cover--title--link--text-color, $white );
				transition: transform ease-in-out .15s;
				transform: translateY( 0 );

				&:hover,
				&:focus {
					color: var( --bsb-site-cover--title--link--action--text-color, $white );
				}

				&:hover {
					transform: translateY( 0.25rem );
				}

				svg {
					width: calc( var( --bsb-button--svg-icon--width ) * 2.5 );
					height: calc( var( --bsb-button--svg-icon--height ) * 2.5 );
				}
			}
		}
	}

	.site-title,
	.page-title {
		color: var( --bsb-cover--titles--text-color, $white );

		a {
			color: var( --bsb-cover--title--link--text-color, $white );

			&:hover,
			&:focus {
				color: var( --bsb-site-cover--title--link--action--text-color, $white );
			}
		}
	}

	.site-description,
	.page-description {
		color: var( --bsb-cover--site-description--text-color, $white );
	}

	.page-title {
		margin: 0;
		line-height: 1.2;
		font-size: var( --bsb-cover--page-title--font-size, clamp( 2.375rem, 3vw + 1rem, 5vw ) );
	}

	.page-description {
		&.page-description-single {
			margin: 1rem 0 0 0;
		}
	}
}
