///
/// Page header styles
///

.site-header {
	position: relative;
	background-color: var( --cfe-site-header--bg-color, var( --cfe-scheme-color--body ) );

	&.full-cover-header {
		background-color: transparent !important;
	}

	#search-bar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 2rem;
		z-index: 5998;
		background-color: var( --cfe-site-header--bg-color, var( --cfe-scheme-color--body ) );
		display: flex;
		flex-wrap: nowrap;
		gap: 0 0.25rem;

		// Clear the toolbar in transform.
		transform: translateY( calc( -100% - 4rem ) );
		opacity: 0;
		transition: transform .25s, opacity .625s;

		&.active {
			transform: translateY( 0% );
			opacity: 1;
		}

		button[ data-search-toggle-close ] {
			text-indent: -999em;
			display: inline-block;
			background-color: var( --cfe-button--bg-color );
			background-repeat: no-repeat;
			background-size: 1.5em;
			background-position: 1em center;
			width: 1.5em;
			height: 1.5em;
			padding: 1.5em;
			background-image: url( '#{$close_icon_bg}' );

			&:hover,
			&:focus {
				background-image: url( '#{$close_icon_action_bg}' );
				background-color: var( --cfe-button--action--bg-color, var( --cfe-button--bg-color ) );
				border-color: var( --cfe-button--action-border-color, var( --cfe-button--border-color ) );
				color: var( --cfe-button--action--text-color, var(--cfe-button--text-color ) );
			}

			svg {
				height: 1em;
				fill: currentColor;
			}
		}
	}

	.search-form-wrap {
		width: 100%;

		.search-form {
			margin: 0;
			flex-wrap: nowrap;
			gap: 0 0.25rem;

			#search-submit {
				margin: 0 !important;
			}
		}

		input[type="search"] {
			max-width: 100%;
		}

		input[type="button"] {
			text-indent: -999em;
			display: inline-block;
			background-repeat: no-repeat;
			background-size: 1.25em;
			background-position: center center;
			width: 1.5em;
			height: 1.5em;
			padding: 1.5em;
			background-image: url( '#{$search_icon_bg}' );

			&:hover,
			&:focus {
				background-image: url( '#{$search_icon_action_bg}' );
			}
		}
	}
}

.site-header-wrap {
	position: relative;
	z-index: 50;
	width: 100%;
	max-width: var(--cfe-wrapper--general--max-width, 100%);
	display: var( --cfe-site-header-wrap--display, flex );
	flex-direction: var( --cfe-site-header-wrap--flex-direction, row );
	align-items: var( --cfe-site-header-wrap--align-items, center );
	justify-content: var( --cfe-site-header-wrap--justify-content, space-between );
	gap: var( --cfe-site-header-wrap--gap, 1rem );
	padding: var( --cfe-site-header-wrap--padding, calc( var( --cfe-spacing--vert ) * .75 ) var( --cfe-spacing--horz ) );
	transition: all .25s;

	@media screen and ( max-width: $break_tablet ) {
		flex-direction: var( --cfe-site-header-wrap--flex-direction-tablet, column );
		justify-content: var( --cfe-site-header-wrap--justify-content--tablet, center );
		align-items: var( --cfe-site-header-wrap--align-items--tablet, center );
	}
}

.site-branding {
	position: relative;
	display: var( --cfe-site-branding--display, flex );
	flex-direction: var( --cfe-site-branding--flex-direction, row );
	align-items: var( --cfe-site-branding--align-items, center );
	justify-content: var( --cfe-site-branding--justify-content, flex-start );
	gap: var( --cfe-site-branding--gap, 1rem );

	@media screen and ( max-width: $break_tablet ) {
		flex-direction: var( --cfe-site-branding--flex-direction--tablet, column );
		justify-content: var( --cfe-site-branding--justify-content--tablet, center );
		text-align: var( --cfe-site-branding--text-align--tablet, center );
	}
}

.logo-above-text {
	.site-header-wrap {
		align-items: var( --cfe-site-branding--logo-above--align-items, flex-start );

		@media screen and ( max-width: $break_tablet ) {
			align-items: var( --cfe-site-header-wrap--align-items--tablet, center );
		}
	}
	.site-branding {
		flex-direction: var( --cfe-site-branding--logo-above--flex-direction, column );
	}
}

.logo-below-text {
	.site-header-wrap {
		align-items: var( --cfe-site-branding--logo-below--align-items, flex-start );

		@media screen and ( max-width: $break_tablet ) {
			align-items: var( --cfe-site-header-wrap--align-items--tablet, center );
		}
	}
	.site-branding {
		flex-direction: var( --cfe-site-branding--logo-below--flex-direction, column-reverse );
	}
}

.site-logo {
	width: 100%;
	max-width: var( --cfe-site-logo--max-width, 60px );

	@media screen and ( max-width: $break_tablet ) {
		max-width: var( --cfe-site-logo--max-width--mobile, 80px );
	}

	img {
		width: 100%;
		display: var( --cfe-site-logo--display, block );
	}
}

.site-title {
	margin: var( --cfe-site-title--margin, 0 );
	font-family: var( --cfe-site-title--font-family, var( --cfe-heading-primary--font-family ) );
	font-size: var( --cfe-site-title--font-size, 1.625rem );
	font-weight: var( --cfe-site-title--font-weight, bold );
	word-spacing: var( --cfe-site-title--word-spacing, -0.0325em );
	letter-spacing: var( --cfe-site-title--letter-spacing, -0.015em );
	text-transform: var( --cfe-site-title--text-transform );
	font-variant: var( --cfe-site-title--font-variant, var( --cfe-heading-primary--font-variant ) );
	line-height: var( --cfe-site-title--line-height, 1.2 );
	color: var( --cfe-site-title--text-color, var( --cfe-heading-primary--text-color, var( --cfe-scheme-color--text ) ) );

	a {
		font-weight: inherit;
		color: var( --cfe-site-title--link--text-color, inherit );
		text-decoration: var( --cfe-site-title--link--text-decoration, none );
		font-variant: var( --cfe-site-title--font-variant, var( --cfe-heading-primary--font-variant ) );

		&:hover,
		&:focus {
			color: var( --cfe-site-title--link--action--text-color, inherit );
		}
	}
}

.site-description {
	margin: var( --cfe-site-description--margin, 0 );
	color: var( --cfe-site-description--text-color, var( --cfe-scheme-color--text ) );
}

.page-cover {
	position: relative;
	overflow: hidden;
	margin: var( --cfe-page-cover-single--margin, 0 auto 0 auto );
	max-width: 2048px;

	&.post-cover {
		margin: var( --cfe-post-cover--margin, 2rem 0 0 0 );
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var( --cfe-cover-overlay--bg-color );
	}

	figure {
		height: 100%;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		max-height: calc( 288px + var( --cfe-spacing--vert ) );
		object-fit: cover;
		object-position: center center;
	}

	&.cover-blend {

		&:after {
			background-color: var( --cfe-cover-blend--bg-color );
			mix-blend-mode: multiply;
		}

		img {
			filter: grayscale( 100% );
		}
	}
}

.cover-header {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var( --cfe-spacing--vert, 2rem ) var( --cfe-spacing--horz, 2rem );
	z-index: 100;
	text-align: center;

	// In case it overlaps somewhere.
	pointer-events: none;

	* {
		max-width: 640px;

		// Restore pointer events for children.
		pointer-events: initial;
	}

	.button {
		&.intro-scroll {
			display: inline-block;
			margin: 0 auto;
			background: transparent;
			border: none;
			color: var( --cfe-cover--title--text-color, var( --cfe-cover--text-color, $white ) );
			text-shadow: var( --cfe-cover--text-shadow, var( --cfe-text-shadow ) );
			transition: transform ease-in-out .15s;
			transform: translateY( 0 );

			&:hover,
			&:focus {
				color: var( --cfe-site-cover--title--link--action--text-color, var( --cfe-cover--text-color, $white ) );
			}

			&:hover {
				transform: translateY( 0.25rem );
			}

			svg {
				fill: currentColor;
				width: calc( var( --cfe-button--svg-icon--width ) * 3.5 );
				height: calc( var( --cfe-button--svg-icon--height ) * 3.5 );
				max-width: var( --cfe-site-cover--icon--max-width, 2.5rem );
			}
		}
	}
}

.cover-title {
	margin: 0;
	line-height: 1.2;
	font-size: var( --cfe-cover--title--font-size, clamp( 2.25rem, 2.5vw + 1rem, 3.25vw ) );
	font-weight: var( --cfe-cover--title--font-weight, var( --cfe-heading-primary--font-weight, 700 ) );
	color: var( --cfe-cover--title--text-color, var( --cfe-cover--text-color, $white ) );
	text-shadow: var( --cfe-cover--text-shadow, var( --cfe-text-shadow ) );

	a {
		color: var( --cfe-cover--title--text-color, var( --cfe-cover--text-color, $white ) );

		&:hover,
		&:focus {
			color: var( --cfe-site-cover--title--link--action--text-color, var( --cfe-cover--text-color, $white ) );
		}
	}
}

.cover-description {
	margin:  var( --cfe-cover--description-single--margin, 1rem 0 0 0 );
	font-size: var( --cfe-cover--description--font-size );
	font-weight: var( --cfe-cover--description-single--font-weight );
	color: var( --cfe-cover--description--text-color, var( --cfe-cover--text-color, $white ) );
}

.template-full-cover {

	.site-header {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
		background-position: center center;
		background-repeat:no-repeat;
		background-image: none;
		background-size: cover;
	}

	.full-cover-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		overflow: hidden;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&:after {
			background-color: var( --cfe-cover-overlay--bg-color );
		}

		figure {
			width: 100%;
			height: 100%;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&.cover-blend {

			&:after {
				background-color: var( --cfe-cover-blend--bg-color );
				mix-blend-mode: multiply;
			}

			img {
				filter: grayscale( 100% );
			}
		}
	}

	.site-header {
		.site-header-wrap {
			&:not( .header-scrolled ) {
				.site-title {
					color: var( --cfe-cover--title--text-color, var( --cfe-cover--text-color, $white ) );
					text-shadow: var( --cfe-cover--text-shadow, var( --cfe-text-shadow ) );

					a {
						color: var( --cfe-cover--title--text-color, var( --cfe-cover--text-color, $white ) );

						&:hover,
						&:focus {
							color: var( --cfe-site-cover--title--link--action--text-color, var( --cfe-cover--text-color, $white ) );
						}
					}
				}

				.site-description {
					color: var( --cfe-cover--site-description--text-color, var( --cfe-cover--text-color, $white ) );
					text-shadow: var( --cfe-cover--text-shadow, var( --cfe-text-shadow ) );
				}
			}
		}
	}

	.cover-header {
		height: 85%;

		@media screen and ( max-width: $break_tablet ) {
			height: 50%;
		}
	}

	.cover-title {
		font-size: var( --cfe-cover--full--title--font-size, clamp( 2.375rem, 3vw + 1rem, 5vw ) );
	}

	.cover-description {
		&.page-description-single {
			margin:  var( --cfe-cover--description-single--margin, 1rem 0 0 0 );
			font-size: var( --cfe-cover--description--font-size );
			font-weight: var( --cfe-cover--description-single--font-weight );
		}
	}
}

.toolbar-active {
	&.template-full-cover {
		.site-header,
		.full-cover-image {
			height: calc( 100vh - var( --cfe-toolbar--height ) );
		}
	}
}

.js {
	.has-sticky-header {

		.site-header-wrap {
			z-index: 500;

			&.header-scrolled {
				padding: var( --cfe-site-header-wrap--scrolled--padding, var( --cfe-site-header-wrap--padding, calc( var( --cfe-spacing--vert ) / 4 ) var( --cfe-spacing--horz ) ) );
			}
		}

		.site-header:not( .full-cover-header ) {
			position: sticky;
			top: 0;
			z-index: 500;

			.site-header-wrap {
				background-color: var( --cfe-site-header--bg-color );
				box-shadow: 0px 0px 7px 3px rgba( 0,0,0,0.5 );
			}
		}

		&.toolbar-active {
			.site-header:not( .full-cover-header ) {
				top: 2rem;
			}
		}

		.full-cover-header {
			.site-header-wrap {
				position: fixed;
				max-width: 100%;

				&.header-scrolled {
					background-color: var( --cfe-site-header--bg-color );
					box-shadow: 0px 0px 7px 3px rgba( 0,0,0,0.5 );
				}
			}
		}
	}
}
