///
/// Navigation styles
///

.nav-list {
	list-style: var( --cfe-nav-list--style, none );
	margin: var( --cfe-nav-list--margin, 0 );
	padding: var( --cfe-nav-list--padding, 0 );
}

.site-navigation {
	max-width: var( --cfe-site-nav--max-width );

	ul {
		margin: var( --cfe-site-nav--list--margin, 0 );
		display: var( --cfe-site-nav--list--display, inline-flex );
		gap: var( --cfe-site-nav--list--gap, 0.25em 1em );
		justify-content: var( --cfe-site-nav--list--justify-content, flex-end );
		flex-wrap: var( --cfe-site-nav--list--flex-wrap, wrap );

		@media screen and ( max-width: $break_tablet ) {
			justify-content: var( --cfe-site-nav--list--justify-content--tablet, center );
		}

		li {
			position: relative;
			margin: var( --cfe-site-nav--item--margin, 0 );
			font-family: var( --cfe-site-nav--item--font-family );
			font-size: var( --cfe-site-nav--item--font-size );
			font-weight: var( --cfe-site-nav--item--font-weight );
			text-transform: var( --cfe-site-nav--item--text-transform );
			font-variant: var( --cfe-site-nav--item--font-variant );
			line-height: 1.2;
			color: var( --cfe-site-nav--list--text-color, inherit );

			a {
				font-weight: inherit;
				text-decoration: var( --cfe-site-nav--item-link--text-decoration, none );
				color: var( --cfe-site-nav--list--link--text-color, var( --cfe-link--text-color ) );

				&:hover,
				&:focus {
					color: var( --cfe-site-nav--list--link--action--text-color, var( --cfe-site-nav--list--link--text-color, var( --cfe-link--text-color ) ) );
				}
			}

			button {
				padding: unset;
				border: none;

				svg {
					height: 1em;
					vertical-align: middle;
					fill: currentColor;
				}

				&:hover {
					svg {
						fill: var( --cfe-link--text-color );
					}
				}
			}

			ul {
				z-index: 1000;
				display: block;
				position: absolute;

				/// Top: pull up (-) height of :after and
				/// ul > ul border width.
				top: calc( 100% - 2px );
				left: -9999em;
				width: 160px;
				transform: translateY( 0 );
				opacity: 0;
				transition: transform 0.25s, opacity 0.25s;
				background-color: var( --cfe-site-nav--sub-list--bg-color, #333333 );
				border: solid 2px var( --cfe-site-nav--sub-list--border-color, var( --cfe-site-nav--sub-list--bg-color, #333333 ) );

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: -1rem;
					left: 0;
					width: 100%;
					height: 1rem;
				}

				&:after {
					content: '';
					display: block;
					position: absolute;

					/// Top: pull up (-) height of :after and
					/// ul > ul border width.
					top: calc( -1rem - 2px );
					left: 1rem;
					width: 1rem;
					height: 1rem;
					border: solid 0.5rem transparent;

					// Creates the triangle.
					border-bottom-color: var( --cfe-site-nav--sub-list--bg-color, #333333 );

					@media screen and ( max-width: $break_tablet ) {
						left: calc( 50% - 0.5rem );
					}
				}

				li {
					margin: var( --cfe-site-nav--sub-item--margin, 0 );
					text-align: center;
					color: var( --cfe-site-nav--sub-list--text-color, $white );

					a {
						display: block;
						padding: 0.5em 1em;
						background-color: var( --cfe-site-nav--sub-list--bg-color, inherit );
						color: var( --cfe-site-nav--sub-list--text-color, $white );

						&:hover,
						&:focus {
							background-color: var( --cfe-site-nav--sub-list--action--bg-color, #555555 );
							color: var( --cfe-site-nav--sub-list--action--text-color, $white );
						}
					}
				}
			}

			&:hover {
				ul {
					left: 0;

					// Move down the height of `:before` pseudoelement.
					transform: translateY( 1rem );
					opacity: 1;

					@media screen and ( max-width: $break_tablet ) {
						left: auto;
						right: calc( -80px + 50% );
					}
				}
			}
		}
	}
}


.main-nav-right .site-navigation ul li ul {
	left: unset;
	right: -9999em;

	&:after {
		left: auto;
		right: 1rem;

		@media screen and ( max-width: $break_tablet ) {
			left: unset;
			right: calc( 50% - 0.5rem );
		}
	}
}

.main-nav-right .site-navigation ul li:hover ul {
	left: auto;
	right: 0;

	@media screen and ( max-width: $break_tablet ) {
		right: auto;
		left: calc( -80px + 50% );
	}
}

.main-nav-hidden {
	.site-navigation {
		display: none;
	}
}

.template-full-cover {
	.site-header-wrap {
		&:not( .header-scrolled ) {
			.site-navigation {
				ul {
					li {
						color: var( --cfe-site-nav--list--text-color, var( --cfe-cover--text-color, $white ) );
						text-shadow: var( --cfe-cover--text-shadow, var( --cfe-text-shadow ) );

						a {
							color: var( --cfe-site-nav--list--text-color, var( --cfe-cover--text-color, $white ) );
							text-shadow: var( --cfe-cover--text-shadow, var( --cfe-text-shadow ) );

							&:hover,
							&:focus {
								color: var( --cfe-site-title--cover--link--action--text-color, var( --cfe-cover--text-color, $white ) );
							}
						}

						button {
							padding: unset;
							border: none;

							svg {
								height: 1em;
								vertical-align: middle;
								fill: var( --cfe-site-nav--list--text-color, var( --cfe-cover--text-color, $white ) );
							}

							&:hover {
								svg {
									fill: var( --cfe-site-title--cover--link--action--text-color, var( --cfe-cover--text-color, $white ) );
								}
							}
						}
					}

					ul {
						li {
							color: var( --cfe-site-nav--sub-list--text-color, $white );

							a {
								color: var( --cfe-site-nav--sub-list--text-color, $white );

								&:hover,
								&:focus {
									color: var( --cfe-site-nav--sub-list--text-color, $white );
								}
							}
						}
					}
				}
			}
		}
	}
}

.page-navigation {
	width: var( --cfe-page-nav--width, 100% );
	margin: var( --cfe-page-nav--margin, 2rem 0 0 0 );

	.pagination-list {
		width: var( --cfe-pagination-list--width, 100% );
		display: var( --cfe-pagination-list--display, flex );
		gap: var( --cfe-pagination-list--gap, 0 0.5em );
		justify-content: center;

		&.pagination-prev-next,
		&.pagination-titles {
			justify-content: var( --cfe-pagination-list--prev-next--justify-content, space-between );

			li {
				width: 100%;

				&#next-post {
					text-align: right;
				}
			}
		}

		&.pagination-prev-next {
			a {
				display: var( --cfe-pagination-list--prev-next--link--display, inline-flex );
				align-items: var( --cfe-pagination-list--prev-next--link--align-items, center );
				gap: var( --cfe-pagination-list--prev-next--link--gap, 0.5em );

				.theme-icon {
					transform: translateY( 1px );
				}
			}
		}

		&.pagination-titles {
			li {
				&#next-post {
					a {
						text-align: right;
						justify-content: flex-end;
					}
				}
			}

			a {
				width: 100%;
				display: var( --cfe-pagination-list--titles--link--display, inline-flex );
				align-items: var( --cfe-pagination-list--titles--link--align-items, center );
				gap: var( --cfe-pagination-list--titles--link--gap, 0.5em );
				font-size: var( --cfe-pagination-list--titles--link--font-size, var( --cfe-font-size, 1rem ) );
				font-weight: var( --cfe-pagination-list--titles--link--font-weight, 600 );
				text-decoration: var( --cfe-pagination-list--titles--link--text-decoration, none );

				.theme-icon {
					transform: translateY( -1px );
				}
			}
		}

		&.pagination-numerical {

			a {
				display: inline-block;
				padding: 0 0.5em;
				text-decoration: var( --cfe-pagination-list--numeric--link--text-decoration, none );
				font-weight: var( --cfe-pagination-list--numeric--link--font-weight, inherit );
				border: var( --cfe-pagination-list--link--numeric--border, solid 1px transparent );

				&:hover,
				&:focus {
					border: var( --cfe-pagination-list--numeric--link--active--border, solid 1px $light_gray );
				}

				&.page-active {
					font-weight: var( --cfe-pagination-list--numeric--link--active--font-weight, 600 );
					border: var( --cfe-pagination-list--numeric--link--active--border, solid 1px $light_gray );
				}

				.page-icon {
					display: inline-block;
					vertical-align: middle;
					line-height: 1;

					svg {
						height: 1em;
						fill: currentColor;
					}
				}
			}
		}
	}
}

// Personal/social navigation/
.social-nav-list {
	display: flex;
	gap: 0 1em;

	svg {
		width: 1.25em;
		height: 1.25em;
		fill: currentColor;
	}
}

.site-footer {
	.social-navigation {
		margin: 1em 0 0 0;

		.social-nav-list {
			justify-content: center;
		}
	}
}
