///
/// General styles
///

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: var( --bsb-font-stack, var( --bsb-sans-stack, sans-serif ) );
	font-size: var( --bsb-font-size, 1rem );
	font-weight: var( --bsb-font-weight, normal );
	font-style: var( --bsb-font-style, normal );
	letter-spacing: var( --bsb-letter-spacing, normal );
	line-height: var( --bsb-line-height, 1.5 );
	background-color: var( --bsb-bg-color );
	background-image: var( --bsb-bg-image );
	background-repeat: var( --bsb-bg-repeat );
	background-position: var( --bsb-bg-position );
	background-size: var( --bsb-bg-size );
	background-attachment: var( --bsb-bg-attachment );
	color: var( --bsb-text-color );

	&.toolbar-active {
		margin-top: var( --bsb-toolbar--height );
	}
}

.serif {
	font-family: var( --bsb-serif-stack, serif );
}

// Text meant only for screen readers.
.screen-reader-text {
	border: 0;
	clip: rect( 1px, 1px, 1px, 1px );
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.no-js {
	.hide-if-no-js {
		display: none !important;
	}
}

.js {
	.hide-if-js {
		display: none !important;
	}
}

.wrapper-general {
	width: var( --bsb-wrapper--general--width, 100% );
	max-width: var( --bsb-wrapper--general--max-width, 100% );
	margin: var( --bsb-wrapper--general--margin, 0 );
	padding: var( --bsb-wrapper--general--padding, 0 );
}

.page-wrap {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: var( --bsb-element--margin, 1em 0 0 0 );
}

a {
	font-weight: var( --bsb-link--font-weight, normal );
	text-decoration: var( --bsb-link--text-decoration, underline );
	color: var( --bsb-link--text-color );
	transition: var( --bsb-link--transition, all 0.15s );

	&:hover,
	&:focus {
		color: var( --bsb-link--action--text-color );
	}
}

h1,
h2 {
	font-family: var( --bsb-heading-primary--font-family );
	font-size: var( --bsb-heading-primary--font-size, 2rem );
	font-weight: var( --bsb-heading-primary--font-weight, 700 );
	line-height: var( --bsb-heading-primary--line-height );
	word-spacing: -0.0325em;
	letter-spacing: var( --bsb-heading-primary--letter-spacing, -0.015em );
	text-transform: var( --bsb-heading-primary--text-transform );
	font-variant: var( --bsb-heading-primary--font-variant );
	color: var( --bsb-heading-primary--text-color, var( --bsb-text-color ) );

	a {
		text-decoration: var( --bsb-link--text-decoration, none );
		color: var( --bsb-heading-primary--link--text-color, var( --bsb-link--text-color ) );

		&:hover,
		&:focus {
			color: var( --bsb-heading-primary--link--action--text-color, var( --bsb-link--action--text-color ) );
		}
	}
}

h3,
h4 {
	font-family: var( --bsb-heading-secondary--font-family );
	font-size: var( --bsb-heading-secondary--font-size );
	font-weight: var( --bsb-heading-secondary--font-weight, bold );
	line-height: var( --bsb-heading-secondary--line-height );
	word-spacing: -0.0325em;
	letter-spacing: var( --bsb-heading-secondary--letter-spacing );
}

.inline-list {
	display: inline-flex;
	gap: 0 0.5em;
	margin: 0;
}

#to-top {
	opacity: 0;
	position: fixed;
	right: -9999em;
	bottom: 2rem;
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var( --bsb-button--bg-color );
	border: var( --bsb-form-element--border );
	border-color: var( --bsb-button--border-color, var( --bsb-form--border-color ) );
	color: var( --bsb-button--text-color, var( --bsb-text-color ) );
	border-radius: var( --bsb-to-top--border-radius, 50% );
	transition: opacity .5s;

	&.scrolled {
		opacity: 1;
		right: 2rem;
	}

	&:hover {
		background-color: var( --bsb-button--action-bg-color, var( --bsb-button--bg-color ) );
		border-color: var( --bsb-button--action-border-color, var( --bsb-button--border-color, ) );
		color: var( --bsb-button--action-text-color, var( --bsb-button--text-color ) );
	}

	svg {
		width: 1.5rem;
		height: 1.5rem;
		fill: var( --bsb-to-top--svg--fill, currentColor );
	}
}

// Text selection.
::-o-selection {
	color: var( --bsb-selection--text-color, #222222 );
	background: var( --bsb-selection--bg-color, #ffdd00 );
	text-shadow: none;
}
::-ms-selection {
	color: var( --bsb-selection--text-color, #222222 );
	background: var( --bsb-selection--bg-color, #ffdd00 );
	text-shadow: none;
}
::-webkit-selection {
	color: var( --bsb-selection--text-color, #222222 );
	background: var( --bsb-selection--bg-color, #ffdd00 );
	text-shadow: none;
}
::-moz-selection {
	color: var( --bsb-selection--text-color, #222222 );
	background: var( --bsb-selection--bg-color, #ffdd00 );
	text-shadow: none;
}
::selection {
	color: var( --bsb-selection--text-color, #222222 );
	background: var( --bsb-selection--bg-color, #ffdd00 );
	text-shadow: none;
}
