///
/// User tools, profiles, comments
///

.user-toolbar {
	position: fixed;
	top: 0;
	z-index: 8888;
	width: 100%;
	height: var( --cfe-toolbar--height );
	overflow: visible;
	padding: var( --cfe-toolbar--padding );
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: var( --cfe-toolbar--height );
	background-color: var( --cfe-toolbar--bg-color );
	color: var( --cfe-toolbar--text-color );
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgba( $color: white, $alpha: 0.125 );

	@media ( max-width: 768px ) {
		height: var( --cfe-toolbar--mobile--height );
		line-height: var( --cfe-toolbar--mobile--height );
	}

	@media ( prefers-color-scheme: dark ) {}

	ul {
		list-style: none;
		margin: 0;

		&.user-toolbar-nav-list {
			display: flex;
			gap: 0;
			padding: 0;
		}

		li {
			position: relative;
			margin: 0;
			padding: var( --cfe-toolbar--link--padding );
			max-height: var( --cfe-toolbar--height );
			font-size: var( --cfe-toolbar--font-size );
			font-weight: var( --cfe-toolbar--font-weight );
			background-color: var( --cfe-toolbar--link--bg-color );
			color: var( --cfe-toolbar--link--text-color );

			@media ( max-width: 992px ) {
				padding: var( --cfe-toolbar--link--mobile--padding );
				max-height: var( --cfe-toolbar--mobile--height );
			}

			@media ( prefers-color-scheme: dark ) {}

			&.has-submenu {
				display: inline-flex;
				align-items: center;
				gap: 0 0.5em;
				cursor: pointer;
			}

			a {
				font-size: var( --cfe-toolbar--font-size );
				font-weight: var( --cfe-toolbar--font-weight );
			}

			&:hover,
			&:focus {
				background-color: var( --cfe-toolbar--link--action--bg-color );
				color: var( --cfe-toolbar--link--action--text-color );

				@media ( prefers-color-scheme: dark ) {}
			}

			&:hover {
				ul {
					left: 0;

					&.user-actions-sublist {
						left: auto;
						right: 0;
					}
				}
			}

			span {
				display: inline-block;

				&.svg-icon {
					width: auto;
					cursor: pointer;

					svg {
						width: unset !important;

						@media ( max-width: 992px ) {
							height: 1.25rem;
						}
					}
				}
			}

			a {
				display: inline-flex;
				align-items: center;
				gap: 0.5em;
				white-space: var( --cfe-toolbar--link--white-space, nowrap );
				text-decoration: none;
				color: var( --cfe-toolbar--link--text-color );

				@media ( max-width: 768px ) {
					gap: 0 0.75em;
				}

				@media ( prefers-color-scheme: dark ) {}

				&:hover {
					background-color: var( --cfe-toolbar--link--action--bg-color );
					color: var( --cfe-toolbar--link--action--text-color );

					@media ( prefers-color-scheme: dark ) {}
				}

				&.user-toolbar-logo-link {
					height: var( --cfe-toolbar--height );
					display: inline-flex;
					align-items: center;
				}

				.top-level-text {
					display: inline;

					@media ( max-width: 768px ) {
						border: 0;
						clip: rect( 1px, 1px, 1px, 1px );
						-webkit-clip-path: inset(50%);
								clip-path: inset(50%);
						height: 1px;
						margin: -1px;
						overflow: hidden;
						padding: 0;
						position: absolute !important;
						width: 1px;
						word-wrap: normal !important;
					}
				}
			}
		}

		ul {
			display: block;
			position: absolute;
			top: 100%;
			left: -9999em;
			padding: 0.5rem 0;
			width: 160px;
			background-color: var( --cfe-toolbar--submenu--bg-color, inherit );

			@media ( prefers-color-scheme: dark ) {}

			&.user-actions-sublist {
				left: auto;
				right: -9999em;
			}

			li {
				margin: 0;
				max-height: 100%;
				padding: 0;
				background-color: transparent;
				color: transparent;

				@media ( max-width: 768px ) {
					height: var( --cfe-toolbar--height );
					line-height: var( --cfe-toolbar--height );
				}

				@media ( prefers-color-scheme: dark ) {}

				a {
					display: block;
					padding: 0 1rem;
					background-color: var( --cfe-toolbar--submenu--link--bg-color, inherit );
					color: var( --cfe-toolbar--submenu--link--text-color, inherit );

					@media ( max-width: 768px ) {
						padding: 0 1rem;
					}

					@media ( prefers-color-scheme: dark ) {
						background-color: var( --cfe-toolbar--submenu--link--bg-color--dark, inherit );
					}

					&:hover,
					&:focus {
						background-color: var( --cfe-toolbar--submenu--link--action--bg-color, inherit );
						color: var( --cfe-toolbar--submenu--link--action--text-color, inherit );

						@media ( prefers-color-scheme: dark ) {
							background-color: var( --cfe-toolbar--submenu--link--action--bg-color--dark, inherit );
							color: var( --cfe-toolbar--submenu--link--action--text-color--dark, inherit );
						}
					}
				}
			}
		}

		img {
			display: inline-block;

			&.toolbar-avatar {
				margin: 0 0.5em;
			}
		}
	}

	#profile-link {
		span {
			@media ( max-width: 768px ) {
				border: 0;
				clip: rect( 1px, 1px, 1px, 1px );
				-webkit-clip-path: inset(50%);
						clip-path: inset(50%);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute !important;
				width: 1px;
				word-wrap: normal !important;
			}
		}
	}

	.user-toolbar-logo {
		max-height: 24px;
	}
}
