@keyframes spinner {
  from {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
:root {
  --cfe-scheme-color--body: #ffffff;
  --cfe-scheme-color--text: #333333;
  --cfe-scheme-color--body--dark: #ffffff;
  --cfe-scheme-color--text--dark: #333333;
  --cfe-scheme-color--one: #0044aa;
  --cfe-scheme-color--two: #005ce7;
  --cfe-scheme-color--three: #333333;
  --cfe-scheme-color--four: #555555;
  --cfe-scheme-color--five: #888888;
  --cfe-scheme-color--six: #cccccc;
  --cfe-scheme-color--one--dark: #0044aa;
  --cfe-scheme-color--two--dark: #005ce7;
  --cfe-scheme-color--three--dark: #333333;
  --cfe-scheme-color--four--dark: #555555;
  --cfe-scheme-color--five--dark: #888888;
  --cfe-scheme-color--six--dark: #cccccc;
}