///
/// Color Scheme: Default
///

// Get general colors.
@import '../../../modules/_utility';

:root {

	// General colors.
	--cfe-scheme-color--body: #{$white};
	--cfe-scheme-color--text: #{$dark_gray};
	--cfe-scheme-color--body--dark: #{$white};
	--cfe-scheme-color--text--dark: #{$dark_gray};

	--cfe-scheme-color--one: #{$blue};
	--cfe-scheme-color--two: #{lighten( $blue, 12% )};
	--cfe-scheme-color--three: #{$dark_gray};
	--cfe-scheme-color--four: #{$medium_gray};
	--cfe-scheme-color--five: #{$light_gray};
	--cfe-scheme-color--six: #{$pale_gray};

	--cfe-scheme-color--one--dark: #{$blue};
	--cfe-scheme-color--two--dark: #{lighten( $blue, 12% )};
	--cfe-scheme-color--three--dark: #{$dark_gray};
	--cfe-scheme-color--four--dark: #{$medium_gray};
	--cfe-scheme-color--five--dark: #{$light_gray};
	--cfe-scheme-color--six--dark: #{$pale_gray};
}
